In [2]:
import numpy as np
import pandas as pd 
import os
import warnings

warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

basedir = '.'

Se define una funcion que obtiene una hoja especifica de todos los anuarios 2013-2020 y se almacenan en una lista

In [3]:

def get_sets_from_xlsx(file_dir,sheet_num, years=np.arange(2013,2021) ) -> list:
    ''' Esta funcion  devuelve una lista de DataFrames de la misma hija de excel de cada anuario 
    filedir: directorio de los anuarios
    sheet_num: numero de la hoja que se desea extraer
    years: años que se desean analizar, el default es todos'''

    sets_list = []

    for year in years:
        
        filepath = file_dir + f'\data_{year}.xlsx'
        file = pd.ExcelFile(filepath)
        
        sheet_name = file.sheet_names[sheet_num]
        
        df = pd.read_excel(filepath,sheet_name=sheet_name,header=None,dtype=str)

        df['Año'] = year

        sets_list.append(df)
    
    return sets_list

In [4]:

raw_data_dir = os.path.join(basedir,'raw_data')

# extraer info de la hoja numero 2 '1.1.1 Establecimientos de hospedaje'

data_sets = get_sets_from_xlsx(raw_data_dir,2)

# Sobrescribir el anuario 2013 en la hoja correcta, porque tiene una que recorre todas las hojas portada y no se puede modificar 

data_sets[0] = get_sets_from_xlsx(raw_data_dir,3)[0]

In [5]:
data_sets[3].head(60)

,0,1,2,3,4,5,6,7,8,9,10,11,Año
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2,NaN,1.1.2 Cuartos y unidades de hospedaje registra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3,NaN,según categoría turística del establecimiento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
5,NaN,NaN,NaN,NaN,NaN,Total,Cinco\nestrellas*,Cuatro\nestrellas,Tres \nestrellas,Dos\nestrellas,Una\nestrella,Sin \ncategoría**,2016
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
7,NaN,Estado,NaN,NaN,NaN,71002,13649,17513,11137,6199,3688,18816,2016
8,NaN,I Norte,NaN,NaN,NaN,549,0,72,123,189,113,52,2016
9,_,NaN,Bolaños,NaN,NaN,43,0,0,25,10,8,0,2016
10,NaN,NaN,Chimaltitán,NaN,NaN,34,0,0,0,9,0,25,2016
11,NaN,NaN,Colotlán,NaN,NaN,162,0,62,38,0,47,15,2016
12,NaN,NaN,Huejúcar,NaN,NaN,42,0,0,0,0,42,0,2016
13,NaN,NaN,Huejuquilla el Alto,NaN,NaN,68,0,0,60,8,0,0,2016
14,NaN,NaN,Mezquitic,NaN,NaN,41,0,10,0,19,0,12,2016
15,NaN,NaN,San Martín de Bolaños,NaN,NaN,22,0,0,0,12,10,0,2016
16,NaN,NaN,Totatiche,NaN,NaN,120,0,0,0,114,6,0,2016
17,NaN,NaN,Villa Guerrero,NaN,NaN,17,0,0,0,17,0,0,2016
18,NaN,II Altos Norte,NaN,NaN,NaN,5228,696,704,1064,952,975,837,2016
19,NaN,NaN,Encarnación de Díaz,NaN,NaN,111,0,75,20,16,0,0,2016
20,NaN,NaN,Lagos de Moreno,NaN,NaN,799,157,139,154,93,0,256,2016
21,NaN,NaN,Ojuelos de Jalisco,NaN,NaN,158,0,0,0,0,0,158,2016
22,NaN,NaN,San Diego de Alejandría,NaN,NaN,45,0,0,19,0,0,26,2016
23,NaN,NaN,San Juan de los Lagos,NaN,NaN,3708,539,435,871,799,975,89,2016
24,NaN,NaN,Teocaltiche,NaN,NaN,99,0,55,0,44,0,0,2016
25,NaN,NaN,Unión de San Antonio,NaN,NaN,28,0,0,0,0,0,28,2016
26,NaN,NaN,Villa Hidalgo,NaN,NaN,280,0,0,0,0,0,280,2016
27,NaN,III Altos Sur,NaN,NaN,NaN,1796,88,540,349,137,244,438,2016
28,NaN,NaN,Acatic,NaN,NaN,85,0,0,7,0,12,66,2016
29,NaN,NaN,Arandas,NaN,NaN,383,14,60,30,97,182,0,2016
30,NaN,NaN,Cañadas de Obregón,NaN,NaN,40,0,0,0,0,0,40,2016
31,NaN,NaN,Jalostotitlán,NaN,NaN,151,50,27,54,0,20,0,2016
32,NaN,NaN,Jesús María,NaN,NaN,12,0,0,0,0,0,12,2016
33,NaN,NaN,Mexticacán,NaN,NaN,10,0,0,0,0,0,10,2016
34,NaN,NaN,San Ignacio Cerro Gordo,NaN,NaN,114,0,0,0,0,0,114,2016
35,NaN,NaN,San Julián,NaN,NaN,202,0,69,133,0,0,0,2016
36,NaN,NaN,San Miguel el Alto,NaN,NaN,169,0,104,35,0,30,0,2016
37,NaN,NaN,Tepatitlán de Morelos,NaN,NaN,469,13,244,66,0,0,146,2016
38,NaN,NaN,Valle de Guadalupe,NaN,NaN,50,0,0,0,0,0,50,2016
39,NaN,NaN,Yahualica de González Gallo,NaN,NaN,111,11,36,24,40,0,0,2016
40,NaN,IV Ciénega,NaN,NaN,NaN,2425,234,480,453,190,427,641,2016
41,NaN,NaN,Atotonilco el Alto,NaN,NaN,158,0,30,41,0,0,87,2016
42,NaN,NaN,Ayotlán,NaN,NaN,44,0,0,44,0,0,0,2016
43,NaN,NaN,Chapala,NaN,NaN,741,115,275,112,108,72,59,2016
44,NaN,NaN,Degollado,NaN,NaN,47,0,12,35,0,0,0,2016
45,NaN,NaN,Jamay,NaN,NaN,78,0,0,0,15,26,37,2016
46,NaN,NaN,Jocotepec,NaN,NaN,380,99,67,67,14,37,96,2016
47,NaN,NaN,La Barca,NaN,NaN,356,0,0,125,53,109,69,2016
48,NaN,NaN,Ocotlán,NaN,NaN,444,0,96,25,0,81,242,2016
49,NaN,NaN,Poncitlán,NaN,NaN,95,0,0,4,0,73,18,2016
50,NaN,NaN,Tizapán el Alto,NaN,NaN,24,0,0,0,0,8,16,2016
51,NaN,NaN,Tototlán,NaN,NaN,17,0,0,0,0,0,17,2016
52,NaN,NaN,Tuxcueca,NaN,NaN,21,0,0,0,0,21,0,2016
53,NaN,NaN,Zapotlán del Rey,NaN,NaN,20,20,0,0,0,0,0,2016
54,NaN,V Sureste,NaN,NaN,NaN,1296,115,244,153,10,0,774,2016
55,NaN,NaN,Concepción de Buenos Aires,NaN,NaN,76,0,0,0,0,0,76,2016
56,NaN,NaN,Jilotlán de los Dolores,NaN,NaN,6,0,0,0,0,0,6,2016
57,NaN,NaN,La Manzanilla de la Paz,NaN,NaN,114,0,0,0,0,0,114,2016
58,NaN,NaN,Mazamitla,NaN,NaN,869,115,233,133,10,0,378,2016
59,NaN,NaN,Pihuamo,NaN,NaN,34,0,0,0,0,0,34,2016

Veamos como vienen los datos

In [6]:
df1 = data_sets[3]
df1

,0,1,2,3,4,5,6,7,8,9,10,11,Año
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2,NaN,1.1.2 Cuartos y unidades de hospedaje registra...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3,NaN,según categoría turística del establecimiento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
139,NaN,*,Incluye establecimientos de categoría especial...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
140,NaN,**,"Comprende: hoteles, moteles, casas de huéspede...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
142,NaN,Fuente:,Secretaría de Turismo del Gobierno del Estado....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016

In [8]:
def filter_dataframe(df,columns):
    """
     Filter and clean DataFrame based on hardcoded criteria.
    Args:
        df: pandas DataFrame to process
        columns: list of column names to assign
    """


    # Obtener el indice de la fila apartir de la de cual  empezara el DataFrame
    # Suele ser aquella que contiene municipio o Estado  
    first_row_idx = np.where((df == 'Estado') | (df == 'Municipio').any(axis=1))[0][0]
    
    # Obtener la columna apartir de la cual empezara el DataFrame, la que contiene los nombres de municipios
    # En este caso se escoge para pattern aquella columna que contenga a Guadalajara

    _,col_idx = ((df == 'Guadalajara') | (df == 'GUADALAJARA')).values.nonzero()
    col_idx = col_idx[0]


    # Obtener la columna en la que termina el DataFrame, la que es igual a Zapotlanejo
    last_row_idx,_ = ((df == 'Zapotlanejo') | (df == 'ZAPOTLANEJO')).values.nonzero() 
    last_row_idx = last_row_idx[0]

    # Redefinir el df en el rango deseado
    df = df.iloc[first_row_idx:last_row_idx + 1,col_idx:]

    # Dropear filas que quedan con nulos
    df = df.dropna(axis='columns',how='all')
    df = df.dropna(axis='rows',how='any')
     
     # redifinir las columnas
    df.columns = columns     


    return df

In [9]:
# Test de la funcion

columns = ['municipio','total','5 estrellas','4 estrellas','3 estrellas','2 estrellas','1 estrellas','sin categoria','año']
df2 = filter_dataframe(data_sets[1],columns)
df2

,municipio,total,5 estrellas,4 estrellas,3 estrellas,2 estrellas,1 estrellas,sin categoria,año
10,Bolaños,28,0,0,0,0,8,20,2014
11,Chimaltitán,8,0,0,0,0,0,8,2014
12,Colotlán,138,0,62,0,0,76,0,2014
13,Huejúcar,41,0,0,0,0,41,0,2014
14,Huejuquilla el Alto,77,0,0,60,0,0,17,2014
...,...,...,...,...,...,...,...,...,...
130,Tlajomulco de Zúñiga,423,6,135,10,0,0,272,2014
131,Tonalá,361,0,0,230,0,53,78,2014
132,Villa Corona,182,0,0,0,0,20,162,2014
133,Zapopan,4470,1067,1950,494,47,12,900,2014
134,Zapotlanejo,177,0,36,5,71,32,33,2014

In [10]:
# Aplicarla a cada data set
cleaned_sets = []
columns = ['municipio','total','5 estrellas','4 estrellas','3 estrellas','2 estrellas','1 estrellas','sin categoria','año']


for df in data_sets:
    clean_df = filter_dataframe(df,columns)
    cleaned_sets.append(clean_df)

In [11]:
cleaned_sets

[                municipio  total 5 estrellas 4 estrellas 3 estrellas  \
 11                 Estado  65677       11769       13227        9866
 12                I Norte    503           0          83          60
 13                Bolaños     28           0           0           0
 14            Chimaltitán      8           0           0           0
 15               Colotlán    138           0          62           0
 ..                    ...    ...         ...         ...         ...
 133  Tlajomulco de Zúñiga    423           6         135          10
 134                Tonalá    361           0           0         230
 135          Villa Corona    182           0           0           0
 136               Zapopan   4470        1067        1950         494
 137           Zapotlanejo    177           0          36           5

     2 estrellas 1 estrellas sin categoria   año
 11         3771        5987         21057  2013
 12            9         140           211  2013
 13            0           8            20  2013
 14            0           0             8  2013
 15            0          76             0  2013
 ..          ...         ...           ...   ...
 133           0           0           272  2013
 134           0          53            78  2013
 135           0          20           162  2013
 136          47          12           900  2013
 137          71          32            33  2013

 [127 rows x 9 columns],
                 municipio total 5 estrellas 4 estrellas 3 estrellas  \
 10                Bolaños    28           0           0           0
 11            Chimaltitán     8           0           0           0
 12               Colotlán   138           0          62           0
 13               Huejúcar    41           0           0           0
 14    Huejuquilla el Alto    77           0           0          60
 ..                    ...   ...         ...         ...         ...
 130  Tlajomulco de Zúñiga   423           6         135          10
 131                Tonalá   361           0           0         230
 132          Villa Corona   182           0           0           0
 133               Zapopan  4470        1067        1950         494
 134           Zapotlanejo   177           0          36           5

     2 estrellas 1 estrellas sin categoria   año
 10            0           8            20  2014
 11            0           0             8  2014
 12            0          76             0  2014
 13            0          41             0  2014
 14            0           0            17  2014
 ..          ...         ...           ...   ...
 130           0           0           272  2014
 131           0          53            78  2014
 132           0          20           162  2014
 133          47          12           900  2014
 134          71          32            33  2014

 [114 rows x 9 columns],
                 municipio total 5 estrellas 4 estrellas 3 estrellas  \
 9                 Bolaños    28           0           0           0
 10            Chimaltitán     8           0           0           0
 11               Colotlán   138           0          62           0
 12               Huejúcar    41           0           0           0
 13    Huejuquilla el Alto    77           0           0          60
 ..                    ...   ...         ...         ...         ...
 129  Tlajomulco de Zúñiga   423           6         135          10
 130                Tonalá   361           0           0         230
 131          Villa Corona   182           0           0           0
 132               Zapopan  4470        1067        1950         494
 133           Zapotlanejo   177           0          36           5

     2 estrellas 1 estrellas sin categoria   año
 9             0           8            20  2015
 10            0           0             8  2015
 11            0          76             0  2015
 12            0          41             0  2015
 13            0           0            17  2015
 ..          ...         ...           ...   ...
 129           0           0           272  2015
 130           0          53            78  2015
 131           0          20           162  2015
 132          47          12           900  2015
 133          71          32            33  2015

 [114 rows x 9 columns],
                 municipio total 5 estrellas 4 estrellas 3 estrellas  \
 9                 Bolaños    43           0           0          25
 10            Chimaltitán    34           0           0           0
 11               Colotlán   162           0          62          38
 12               Huejúcar    42           0           0           0
 13    Huejuquilla el Alto    68           0           0          60
 ..                    ...   ...         ...         ...         ...
 133  Tlajomulco de Zúñiga   341          10         135         139
 134                Tonalá   423          14           0         348
 135          Villa Corona   107           0           0           0
 136               Zapopan  6128        1247        2902        1068
 137           Zapotlanejo   188           0          18         153

     2 estrellas 1 estrellas sin categoria   año
 9            10           8             0  2016
 10            9           0            25  2016
 11            0          47            15  2016
 12            0          42             0  2016
 13            8           0             0  2016
 ..          ...         ...           ...   ...
 133           0           0            57  2016
 134          61           0             0  2016
 135           0           0           107  2016
 136          42           0           869  2016
 137          17           0             0  2016

 [118 rows x 9 columns],
                  municipio total 5 estrellas 4 estrellas 3 estrellas  \
 10                  ACATIC    66           0           0           0
 11       ACATLÁN DE JUÁREZ    14           0           0           0
 12    AHUALULCO DE MERCADO   116           0           0           0
 13                AMACUECA    10           0           0           0
 14                AMATITÁN    22           0           0           0
 ..                     ...   ...         ...         ...         ...
 123             ZAPOTILTIC    90           0           0           0
 124  ZAPOTITLÁN DE VADILLO    20           0           0           0
 125       ZAPOTLÁN DEL REY    20          20           0           0
 126     ZAPOTLÁN EL GRANDE   495           0         136         209
 127            ZAPOTLANEJO   188           0          18         153

     2 estrellas 1 estrellas sin categoria   año
 10            0           0            66  2017
 11            0           0            14  2017
 12            0           0           116  2017
 13            0           0            10  2017
 14            0           0            22  2017
 ..          ...         ...           ...   ...
 123           0           0            90  2017
 124           0           0            20  2017
 125           0           0             0  2017
 126         118          32             0  2017
 127          17           0             0  2017

 [118 rows x 9 columns],
                  municipio total 5 estrellas 4 estrellas 3 estrellas  \
 10                  ACATIC    66           0           0           0
 11       ACATLÁN DE JUÁREZ    14           0           0           0
 12    AHUALULCO DE MERCADO   116           0           0           0
 13                AMACUECA    10           0           0           0
 14                AMATITÁN    22           0           0           0
 ..                     ...   ...         ...         ...         ...
 123             ZAPOTILTIC    90           0           0           0
 124  ZAPOTITLÁN DE VADILLO    20           0           0           0
 125       ZAPOTLÁN DEL REY    20          20           0           0
 126     ZAPOTLÁN EL GRANDE   495           0         136         209
 127            ZAPOTLANEJO   188           0          18         153

     2 estrellas 1 estrellas sin categoria   año
 10            0           0            66  2018
 11            0           0            14  2018
 12            0           0           116  2018
 13            0           0            10  2018
 14            0           0            22  2018
 ..          ...         ...           ...   ...
 123           0           0            90  2018
 124           0           0            20  2018
 125           0           0             0  2018
 126         118          32             0  2018
 127          17           0             0  2018

 [118 rows x 9 columns],
                  municipio  total 5 estrellas 4 estrellas 3 estrellas  \
 7                Municipio  76405       14757       18910       12900
 9                   ACATIC     86           0           0          10
 10       ACATLÁN DE JUÁREZ     14           0           0          14
 11    AHUALULCO DE MERCADO    138          29          42           0
 12                AMACUECA      8           0           0           0
 ..                     ...    ...         ...         ...         ...
 122             ZAPOTILTIC     90           0          18           0
 123  ZAPOTITLÁN DE VADILLO     20           0           0           0
 124       ZAPOTLÁN DEL REY     28          13           0          15
 125     ZAPOTLÁN EL GRANDE    537           0         136         319
 126            ZAPOTLANEJO    211           0          18         176

     2 estrellas 1 estrellas sin categoria   año
 7          5142        5269         19427  2019
 9             0          12            64  2019
 10            0           0             0  2019
 11            0           0            67  2019
 12            0           0             8  2019
 ..          ...         ...           ...   ...
 122           0           0            72  2019
 123           0           0            20  2019
 124           0           0             0  2019
 125          58          24           N/D  2019
 126          17           0           N/D  2019

 [116 rows x 9 columns],
                  municipio  total         5 estrellas        4 estrellas  \
 4                Municipio  Total  Cinco\nestrellas *  Cuatro\nestrellas
 7                   Estado  78533               14336              18654
 8                   ACATIC     86                   0                  0
 9        ACATLAN DE JUAREZ     14                   0                  0
 10    AHUALULCO DE MERCADO    138                  29                 42
 ..                     ...    ...                 ...                ...
 120             ZAPOTILTIC     54                   0                 18
 121  ZAPOTITLAN DE VADILLO     20                   0                  0
 122       ZAPOTLAN DEL REY     28                  13                  0
 123     ZAPOTLAN EL GRANDE    537                   0                137
 124            ZAPOTLANEJO    211                   0                 18

           3 estrellas     2 estrellas    1 estrellas         sin categoria  \
 4    Tres \nestrellas  Dos\nestrellas  Una\nestrella  [Sin \ncategoría **]
 7               12614            5309           5527                 22093
 8                  10               0             12                    64
 9                  14               0              0                     0
 10                  0               0              0                    67
 ..                ...             ...            ...                   ...
 120                 0               0              0                    36
 121                 0               0              0                    20
 122                15               0              0                     0
 123               239              60            101                     0
 124               176              17              0                   N/D

       año
 4    2020
 7    2020
 8    2020
 9    2020
 10   2020
 ..    ...
 120  2020
 121  2020
 122  2020
 123  2020
 124  2020

 [116 rows x 9 columns]]

In [ ]:
# guardar todos los sets en su direccion correspondiente, en la carpeta de informacion limpia

final_dir = os.path.join(basedir,r'data\Cuartos_Hoteles')
final_dir
for i,df in enumerate(cleaned_sets):
    df.to_csv(f'{final_dir}_{2013+i}.csv')

La limpieza hecha con las anteriores funciones no es al 100% homogenea, pero si conserva toda la informacion relevante y facilita por mucho elproceso, en efecto lo unico que falta por hacer despues de este proceso es  concatenar los dataframes y quitar las filas que contienen los totales.