In [ ]:
import numpy as np
import pandas as pd 
import os
import warnings

warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

basedir = '.'

Se define una funcion que obtiene una hoja especifica de todos los anuarios 2013-2020 y se almacenan en una lista

In [5]:

def get_sets_from_xlsx(file_dir,sheet_num, years=np.arange(2013,2021) ) -> list:
    ''' Esta funcion  devuelve una lista de DataFrames de la misma hija de excel de cada anuario 
    filedir: directorio de los anuarios
    sheet_num: numero de la hoja que se desea extraer
    years: años que se desean analizar, el default es todos'''

    sets_list = []

    for year in years:
        
        filepath = file_dir + f'\data_{year}.xlsx'
        file = pd.ExcelFile(filepath)
        
        sheet_name = file.sheet_names[sheet_num]
        
        df = pd.read_excel(filepath,sheet_name=sheet_name,header=None,dtype=str)

        df['Año'] = year

        sets_list.append(df)
    
    return sets_list

In [ ]:

raw_data_dir = os.path.join(basedir,'raw_data')

# extraer info de la hoja numero 2 '1.1.1 Establecimientos de hospedaje'

data_sets = get_sets_from_xlsx(raw_data_dir,1)

# Sobrescribir el anuario 2013 en la hoja correcta, porque tiene una que recorre todas las hojas portada y no se puede modificar 

data_sets[0] = get_sets_from_xlsx(raw_data_dir,2)[0]

In [7]:
data_sets

[         0                                                  1  \
 0      NaN                                                NaN
 1    1.1.1  Establecimientos de hospedaje registrados por ...
 2      NaN      según categoría turística del establecimiento
 3      NaN                            Región\n      Municipio
 4      NaN                                                NaN
 ..     ...                                                ...
 132    NaN                                                NaN
 133    NaN                                                  *
 134    NaN                                                 **
 135    NaN                                                NaN
 136    NaN                                            Fuente:

                                                      2    3    4      5  \
 0                                                  NaN  NaN  NaN    NaN
 1                                                  NaN  NaN  NaN    NaN
 2                                                  NaN  NaN  NaN    NaN
 3                                                  NaN  NaN  NaN  Total
 4                                                  NaN  NaN  NaN    NaN
 ..                                                 ...  ...  ...    ...
 132                                                NaN  NaN  NaN    NaN
 133  Incluye establecimientos de categoría especial...  NaN  NaN    NaN
 134  Comprende: hoteles, moteles, casas de huéspede...  NaN  NaN    NaN
 135                                                NaN  NaN  NaN    NaN
 136  Secretaría de Turismo del Gobierno del Estado....  NaN  NaN    NaN

                      6                  7                 8               9  \
 0                  NaN                NaN               NaN             NaN
 1                  NaN                NaN               NaN             NaN
 2                  NaN                NaN               NaN             NaN
 3    Cinco\nestrellas*  Cuatro\nestrellas  Tres \nestrellas  Dos\nestrellas
 4                  NaN                NaN               NaN             NaN
 ..                 ...                ...               ...             ...
 132                NaN                NaN               NaN             NaN
 133                NaN                NaN               NaN             NaN
 134                NaN                NaN               NaN             NaN
 135                NaN                NaN               NaN             NaN
 136                NaN                NaN               NaN             NaN

                 10                 11   12   13                  14   Año
 0              NaN                NaN  NaN  NaN                 NaN  2013
 1              NaN                NaN  NaN  NaN                 NaN  2013
 2              NaN                NaN  NaN  NaN                 NaN  2013
 3    Una\nestrella  Sin \ncategoría**  NaN  NaN                 NaN  2013
 4              NaN                NaN  NaN  NaN  REGRESAR AL INDICE  2013
 ..             ...                ...  ...  ...                 ...   ...
 132            NaN                NaN  NaN  NaN                 NaN  2013
 133            NaN                NaN  NaN  NaN                 NaN  2013
 134            NaN                NaN  NaN  NaN                 NaN  2013
 135            NaN                NaN  NaN  NaN                 NaN  2013
 136            NaN                NaN  NaN  NaN                 NaN  2013

 [137 rows x 16 columns],
          0                                                  1  \
 0      NaN                                                NaN
 1    1.1.1  Establecimientos de hospedaje registrados por ...
 2      NaN      según categoría turística del establecimiento
 3      NaN                                                NaN
 4      NaN                                                NaN
 ..     ...                                                ...
 133    NaN                                                NaN
 134    NaN                                                  *
 135    NaN                                                 **
 136    NaN                                                NaN
 137    NaN                                            Fuente:

                                                      2    3      4  \
 0                                                  NaN  NaN    NaN
 1                                                  NaN  NaN    NaN
 2                                                  NaN  NaN    NaN
 3                                                  NaN  NaN    NaN
 4                                                  NaN  NaN  Total
 ..                                                 ...  ...    ...
 133                                                NaN  NaN    NaN
 134  Incluye establecimientos de categoría especial...  NaN    NaN
 135  Comprende: hoteles, moteles, casas de huéspede...  NaN    NaN
 136                                                NaN  NaN    NaN
 137  Secretaría de Turismo del Gobierno del Estado....  NaN    NaN

                      5                  6                 7               8  \
 0                  NaN                NaN               NaN             NaN
 1                  NaN                NaN               NaN             NaN
 2                  NaN                NaN               NaN             NaN
 3                  NaN                NaN               NaN             NaN
 4    Cinco\nestrellas*  Cuatro\nestrellas  Tres \nestrellas  Dos\nestrellas
 ..                 ...                ...               ...             ...
 133                NaN                NaN               NaN             NaN
 134                NaN                NaN               NaN             NaN
 135                NaN                NaN               NaN             NaN
 136                NaN                NaN               NaN             NaN
 137                NaN                NaN               NaN             NaN

                  9                 10   Año
 0              NaN                NaN  2014
 1              NaN                NaN  2014
 2              NaN                NaN  2014
 3              NaN                NaN  2014
 4    Una\nestrella  Sin \ncategoría**  2014
 ..             ...                ...   ...
 133            NaN                NaN  2014
 134            NaN                NaN  2014
 135            NaN                NaN  2014
 136            NaN                NaN  2014
 137            NaN                NaN  2014

 [138 rows x 12 columns],
          0                                                  1  \
 0      NaN                                                NaN
 1    1.1.1  1.1.1 Establecimientos de hospedaje registrado...
 2      NaN      según categoría turística del establecimiento
 3      NaN                                                NaN
 4      NaN                                                NaN
 ..     ...                                                ...
 133    NaN                                                NaN
 134    NaN                                                  *
 135    NaN                                                 **
 136    NaN                                                NaN
 137    NaN                                            Fuente:

                                                      2    3      4  \
 0                                                  NaN  NaN    NaN
 1                                                  NaN  NaN    NaN
 2                                                  NaN  NaN    NaN
 3                                                  NaN  NaN    NaN
 4                                                  NaN  NaN  Total
 ..                                                 ...  ...    ...
 133                                                NaN  NaN    NaN
 134  Incluye establecimientos de categoría especial...  NaN    NaN
 135  Comprende: hoteles, moteles, casas de huéspede...  NaN    NaN
 136                                                NaN  NaN    NaN
 137  Secretaría de Turismo del Gobierno del Estado....  NaN    NaN

                      5                  6                 7               8  \
 0                  NaN                NaN               NaN             NaN
 1                  NaN                NaN               NaN             NaN
 2                  NaN                NaN               NaN             NaN
 3                  NaN                NaN               NaN             NaN
 4    Cinco\nestrellas*  Cuatro\nestrellas  Tres \nestrellas  Dos\nestrellas
 ..                 ...                ...               ...             ...
 133                NaN                NaN               NaN             NaN
 134                NaN                NaN               NaN             NaN
 135                NaN                NaN               NaN             NaN
 136                NaN                NaN               NaN             NaN
 137                NaN                NaN               NaN             NaN

                  9                 10   Año
 0              NaN                NaN  2015
 1              NaN                NaN  2015
 2              NaN                NaN  2015
 3              NaN                NaN  2015
 4    Una\nestrella  Sin \ncategoría**  2015
 ..             ...                ...   ...
 133            NaN                NaN  2015
 134            NaN                NaN  2015
 135            NaN                NaN  2015
 136            NaN                NaN  2015
 137            NaN                NaN  2015

 [138 rows x 12 columns],
        0                                                  1  \
 0    NaN                                                NaN
 1    NaN                                                NaN
 2    NaN  1.1.1 Establecimientos de hospedaje registrado...
 3    NaN      según categoría turística del establecimiento
 4    NaN                                                NaN
 ..   ...                                                ...
 139  NaN                                                NaN
 140  NaN                                                  *
 141  NaN                                                 **
 142  NaN                                                NaN
 143  NaN                                            Fuente:

                                                      2    3    4    5    6  \
 0                                                  NaN  NaN  NaN  NaN  NaN
 1                                                  NaN  NaN  NaN  NaN  NaN
 2                                                  NaN  NaN  NaN  NaN  NaN
 3                                                  NaN  NaN  NaN  NaN  NaN
 4                                                  NaN  NaN  NaN  NaN  NaN
 ..                                                 ...  ...  ...  ...  ...
 139                                                NaN  NaN  NaN  NaN  NaN
 140  Incluye establecimientos de categoría especial...  NaN  NaN  NaN  NaN
 141  Comprende: hoteles, moteles, casas de huéspede...  NaN  NaN  NaN  NaN
 142                                                NaN  NaN  NaN  NaN  NaN
 143  Secretaría de Turismo del Gobierno del Estado....  NaN  NaN  NaN  NaN

        7    8    9   10   Año
 0    NaN  NaN  NaN  NaN  2016
 1    NaN  NaN  NaN  NaN  2016
 2    NaN  NaN  NaN  NaN  2016
 3    NaN  NaN  NaN  NaN  2016
 4    NaN  NaN  NaN  NaN  2016
 ..   ...  ...  ...  ...   ...
 139  NaN  NaN  NaN  NaN  2016
 140  NaN  NaN  NaN  NaN  2016
 141  NaN  NaN  NaN  NaN  2016
 142  NaN  NaN  NaN  NaN  2016
 143  NaN  NaN  NaN  NaN  2016

 [144 rows x 12 columns],
        0                                                  1  \
 0    NaN                                                NaN
 1    NaN                                                NaN
 2    NaN  1.1.1 Establecimientos de hospedaje registrado...
 3    NaN      según categoría turística del establecimiento
 4    NaN                                                NaN
 ..   ...                                                ...
 126  NaN                                                NaN
 127  NaN                                                NaN
 128  NaN                                                  *
 129  NaN                                                 **
 130  NaN                                            Fuente:

                                                      2    3    4    5    6  \
 0                                                  NaN  NaN  NaN  NaN  NaN
 1                                                  NaN  NaN  NaN  NaN  NaN
 2                                                  NaN  NaN  NaN  NaN  NaN
 3                                                  NaN  NaN  NaN  NaN  NaN
 4                                                  NaN  NaN  NaN  NaN  NaN
 ..                                                 ...  ...  ...  ...  ...
 126                                 ZAPOTLÁN EL GRANDE   15    0    2    6
 127                                        ZAPOTLANEJO    9    0    1    7
 128  Incluye establecimientos de categoría especial...  NaN  NaN  NaN  NaN
 129  Comprende: hoteles, moteles, casas de huéspede...  NaN  NaN  NaN  NaN
 130  Secretaría de Turismo del Gobierno del Estado ...  NaN  NaN  NaN  NaN

        7    8    9   Año
 0    NaN  NaN  NaN  2017
 1    NaN  NaN  NaN  2017
 2    NaN  NaN  NaN  2017
 3    NaN  NaN  NaN  2017
 4    NaN  NaN  NaN  2017
 ..   ...  ...  ...   ...
 126    4    3    0  2017
 127    1    0    0  2017
 128  NaN  NaN  NaN  2017
 129  NaN  NaN  NaN  2017
 130  NaN  NaN  NaN  2017

 [131 rows x 11 columns],
        0                                                  1  \
 0    NaN                                                NaN
 1    NaN                                                NaN
 2    NaN  1.1.1 Establecimientos de hospedaje registrado...
 3    NaN      según categoría turística del establecimiento
 4    NaN                                                NaN
 ..   ...                                                ...
 128  NaN                                                  *
 129  NaN                                                 **
 130  NaN                                            Fuente:
 131  NaN                                                NaN
 132  NaN                                                  *

                                                      2    3    4    5    6  \
 0                                                  NaN  NaN  NaN  NaN  NaN
 1                                                  NaN  NaN  NaN  NaN  NaN
 2                                                  NaN  NaN  NaN  NaN  NaN
 3                                                  NaN  NaN  NaN  NaN  NaN
 4                                                  NaN  NaN  NaN  NaN  NaN
 ..                                                 ...  ...  ...  ...  ...
 128  Incluye establecimientos de categoría especial...  NaN  NaN  NaN  NaN
 129  Comprende: hoteles, moteles, casas de huéspede...  NaN  NaN  NaN  NaN
 130  Secretaría de Turismo del Gobierno del Estado ...  NaN  NaN  NaN  NaN
 131  Dir. General  de Planeación y  Desarrollo de P...  NaN  NaN  NaN  NaN
 132  Nota: Datos sin actualizar a 2018,  correspond...  NaN  NaN  NaN  NaN

        7    8    9   Año
 0    NaN  NaN  NaN  2018
 1    NaN  NaN  NaN  2018
 2    NaN  NaN  NaN  2018
 3    NaN  NaN  NaN  2018
 4    NaN  NaN  NaN  2018
 ..   ...  ...  ...   ...
 128  NaN  NaN  NaN  2018
 129  NaN  NaN  NaN  2018
 130  NaN  NaN  NaN  2018
 131  NaN  NaN  NaN  2018
 132  NaN  NaN  NaN  2018

 [133 rows x 11 columns],
                                                      0  \
 0                                                  NaN
 1    1.1 Establecimientos de hospedaje registrados ...
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 ..                                                 ...
 125                                                NaN
 126                                                NaN
 127                                                  *
 128                                                 **
 129                                            Fuente:

                                                      1      2  \
 0                                                  NaN    NaN
 1                                                  NaN    NaN
 2                                                  NaN    NaN
 3                                                  NaN    NaN
 4                                                  NaN  Total
 ..                                                 ...    ...
 125                                 ZAPOTLÁN EL GRANDE     18
 126                                        ZAPOTLANEJO     13
 127  Incluye establecimientos de categoría especial...    NaN
 128  Se refiere a todos aquellos establecimientos q...    NaN
 129  Secretaría de Turismo del Gobierno del Estado....    NaN

                      3                  4                 5               6  \
 0                  NaN                NaN               NaN             NaN
 1                  NaN                NaN               NaN             NaN
 2                  NaN                NaN               NaN             NaN
 3                  NaN                NaN               NaN             NaN
 4    Cinco\nestrellas*  Cuatro\nestrellas  Tres \nestrellas  Dos\nestrellas
 ..                 ...                ...               ...             ...
 125                  0                  2                 9               3
 126                  0                  1                 7               1
 127                NaN                NaN               NaN             NaN
 128                NaN                NaN               NaN             NaN
 129                NaN                NaN               NaN             NaN

                  7                  8   Año
 0              NaN                NaN  2019
 1              NaN                NaN  2019
 2              NaN                NaN  2019
 3              NaN                NaN  2019
 4    Una\nestrella  Sin \ncategoría**  2019
 ..             ...                ...   ...
 125              2                  2  2019
 126              0                  4  2019
 127            NaN                NaN  2019
 128            NaN                NaN  2019
 129            NaN                NaN  2019

 [130 rows x 10 columns],
        0                                                  1      2  \
 0    NaN                                                NaN    NaN
 1    NaN  1.1 Establecimientos de hospedaje registrados ...    NaN
 2    NaN                                                NaN    NaN
 3    NaN                                                NaN    NaN
 4    NaN                                          Municipio  Total
 ..   ...                                                ...    ...
 125  NaN                                                NaN    NaN
 126  NaN  *Incluye establecimientos de categoría especia...    NaN
 127  NaN  ** Se refiere a todos aquellos establecimiento...    NaN
 128  NaN  Fuente: Secretaría de Turismo del Gobierno del...    NaN
 129  NaN  Nota: Para el caso de Mazamitla hubo un cambio...    NaN

                      3                  4                 5               6  \
 0                  NaN                NaN               NaN             NaN
 1                  NaN                NaN               NaN             NaN
 2                  NaN                NaN               NaN             NaN
 3                  NaN                NaN               NaN             NaN
 4    Cinco\nestrellas*  Cuatro\nestrellas  Tres \nestrellas  Dos\nestrellas
 ..                 ...                ...               ...             ...

Veamos como vienen los datos

In [8]:
df1 = data_sets[3]
df1

,0,1,2,3,4,5,6,7,8,9,10,Año
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2,NaN,1.1.1 Establecimientos de hospedaje registrado...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3,NaN,según categoría turística del establecimiento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
140,NaN,*,Incluye establecimientos de categoría especial...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
141,NaN,**,"Comprende: hoteles, moteles, casas de huéspede...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
143,NaN,Fuente:,Secretaría de Turismo del Gobierno del Estado....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016

In [ ]:
def filter_dataframe(df,columns):
    """
     Filter and clean DataFrame based on hardcoded criteria.
    Args:
        df: pandas DataFrame to process
        columns: list of column names to assign
    """


    # Obtener el indice de la fila apartir de la de cual  empezara el DataFrame  
     first_row_idx = np.where((df == 'Estado') | (df == 'Municipio').any(axis=1))[0][0]
    
    # Obtener la columna apartir de la cual empezara el DataFrame, la que contiene los nombres de municipios
     _,col_idx = ((df == 'Guadalajara') | (df == 'GUADALAJARA')).values.nonzero()
     col_idx = col_idx[0]


    # Obtener la columna en la que termina el DataFrame, la que es igual a Zapotlanejo
     last_row_idx,_ = ((df == 'Zapotlanejo') | (df == 'ZAPOTLANEJO')).values.nonzero() 
     last_row_idx = last_row_idx[0]

    # Redefinir el df en el rango deseado
     df = df.iloc[first_row_idx:last_row_idx + 1,col_idx:]

    # Dropear filas que quedan con nulos
     df = df.dropna(axis='columns',how='all')
     df = df.dropna(axis='rows',how='any')
     
     # redifinir las columnas
     df.columns = columns     


     return df

In [12]:
# Test de la funcion

columns = ['municipio','total','5 estrellas','4 estrellas','3 estrellas','2 estrellas','1 estrellas','sin categoria','año']
df2 = filter_dataframe(data_sets[1],columns)
df2

,municipio,total,5 estrellas,4 estrellas,3 estrellas,2 estrellas,1 estrellas,sin categoria,año
9,Bolaños,3,0,0,0,0,1,2,2014
10,Chimaltitán,1,0,0,0,0,0,1,2014
11,Colotlán,2,0,1,0,0,1,0,2014
12,Huejúcar,4,0,0,0,0,4,0,2014
13,Huejuquilla el Alto,4,0,0,2,0,0,2,2014
...,...,...,...,...,...,...,...,...,...
128,Tlajomulco de Zúñiga,7,1,1,1,0,0,4,2014
129,Tonalá,11,0,0,6,0,3,2,2014
130,Villa Corona,10,0,0,0,0,2,8,2014
131,Zapopan,70,8,19,11,2,1,29,2014
132,Zapotlanejo,7,0,1,3,0,2,1,2014

In [ ]:
# Aplicarla a cada data set
cleaned_sets = []
columns = ['municipio','total','5 estrellas','4 estrellas','3 estrellas','2 estrellas','1 estrellas','sin categoria','año']


for df in data_sets:
    clean_df = filter_dataframe(df,columns)
    cleaned_sets.append(clean_df)

a
a
a
a
a
a
a
a

In [14]:
cleaned_sets

[                municipio total 5 estrellas 4 estrellas 3 estrellas  \
 6                  Estado  1647         106         204         273
 7                 I Norte    28           0           2           2
 8                 Bolaños     3           0           0           0
 9             Chimaltitán     1           0           0           0
 10               Colotlán     2           0           1           0
 ..                    ...   ...         ...         ...         ...
 127  Tlajomulco de Zúñiga     7           1           1           1
 128                Tonalá    11           0           0           6
 129          Villa Corona    10           0           0           0
 130               Zapopan    70           8          19          11
 131           Zapotlanejo     7           0           1           3

     2 estrellas 1 estrellas sin categoria   año
 6           148         230           685  2013
 7             1           8            15  2013
 8             0           1             2  2013
 9             0           0             1  2013
 10            0           1             0  2013
 ..          ...         ...           ...   ...
 127           0           0             4  2013
 128           0           3             2  2013
 129           0           2             8  2013
 130           2           1            29  2013
 131           0           2             1  2013

 [126 rows x 9 columns],
                 municipio total 5 estrellas 4 estrellas 3 estrellas  \
 9                 Bolaños     3           0           0           0
 10            Chimaltitán     1           0           0           0
 11               Colotlán     2           0           1           0
 12               Huejúcar     4           0           0           0
 13    Huejuquilla el Alto     4           0           0           2
 ..                    ...   ...         ...         ...         ...
 128  Tlajomulco de Zúñiga     7           1           1           1
 129                Tonalá    11           0           0           6
 130          Villa Corona    10           0           0           0
 131               Zapopan    70           8          19          11
 132           Zapotlanejo     7           0           1           3

     2 estrellas 1 estrellas sin categoria   año
 9             0           1             2  2014
 10            0           0             1  2014
 11            0           1             0  2014
 12            0           4             0  2014
 13            0           0             2  2014
 ..          ...         ...           ...   ...
 128           0           0             4  2014
 129           0           3             2  2014
 130           0           2             8  2014
 131           2           1            29  2014
 132           0           2             1  2014

 [113 rows x 9 columns],
                 municipio total 5 estrellas 4 estrellas 3 estrellas  \
 9                 Bolaños     3           0           0           0
 10            Chimaltitán     1           0           0           0
 11               Colotlán     2           0           1           0
 12               Huejúcar     4           0           0           0
 13    Huejuquilla el Alto     4           0           0           2
 ..                    ...   ...         ...         ...         ...
 128  Tlajomulco de Zúñiga     7           1           1           1
 129                Tonalá    11           0           0           6
 130          Villa Corona    10           0           0           0
 131               Zapopan    70           8          19          11
 132           Zapotlanejo     7           0           1           3

     2 estrellas 1 estrellas sin categoria   año
 9             0           1             2  2015
 10            0           0             1  2015
 11            0           1             0  2015
 12            0           4             0  2015
 13            0           0             2  2015
 ..          ...         ...           ...   ...
 128           0           0             4  2015
 129           0           3             2  2015
 130           0           2             8  2015
 131           2           1            29  2015
 132           0           2             1  2015

 [113 rows x 9 columns],
                 municipio total 5 estrellas 4 estrellas 3 estrellas  \
 10                Bolaños     3           0           0           1
 11            Chimaltitán     2           0           0           0
 12               Colotlán     6           0           1           1
 13               Huejúcar     3           0           0           0
 14    Huejuquilla el Alto     3           0           0           2
 ..                    ...   ...         ...         ...         ...
 134  Tlajomulco de Zúñiga     8           1           1           2
 135                Tonalá    12           1           0           8
 136          Villa Corona     8           0           0           0
 137               Zapopan    82          11          29          16
 138           Zapotlanejo     9           0           1           7

     2 estrellas 1 estrellas sin categoria   año
 10            1           1             0  2016
 11            1           0             1  2016
 12            0           3             1  2016
 13            0           3             0  2016
 14            1           0             0  2016
 ..          ...         ...           ...   ...
 134           0           0             4  2016
 135           3           0             0  2016
 136           0           0             8  2016
 137           2           0            24  2016
 138           1           0             0  2016

 [118 rows x 9 columns],
                  municipio total 5 estrellas 4 estrellas 3 estrellas  \
 10                  ACATIC     2           0           0           0
 11       ACATLÁN DE JUÁREZ     1           0           0           0
 12    AHUALULCO DE MERCADO     8           0           0           0
 13                AMACUECA     1           0           0           0
 14                AMATITÁN     2           0           0           0
 ..                     ...   ...         ...         ...         ...
 123             ZAPOTILTIC     5           0           0           0
 124  ZAPOTITLÁN DE VADILLO     1           0           0           0
 125       ZAPOTLÁN DEL REY     2           2           0           0
 126     ZAPOTLÁN EL GRANDE    15           0           2           6
 127            ZAPOTLANEJO     9           0           1           7

     2 estrellas 1 estrellas sin categoria   año
 10            0           0             2  2017
 11            0           0             1  2017
 12            0           0             8  2017
 13            0           0             1  2017
 14            0           2             0  2017
 ..          ...         ...           ...   ...
 123           0           0             5  2017
 124           0           0             1  2017
 125           0           0             0  2017
 126           4           3             0  2017
 127           1           0             0  2017

 [118 rows x 9 columns],
                  municipio total 5 estrellas 4 estrellas 3 estrellas  \
 10                  ACATIC     2           0           0           0
 11       ACATLÁN DE JUÁREZ     1           0           0           0
 12    AHUALULCO DE MERCADO     8           0           0           0
 13                AMACUECA     1           0           0           0
 14                AMATITÁN     2           0           0           0
 ..                     ...   ...         ...         ...         ...
 123             ZAPOTILTIC     5           0           0           0
 124  ZAPOTITLÁN DE VADILLO     1           0           0           0
 125       ZAPOTLÁN DEL REY     2           2           0           0
 126     ZAPOTLÁN EL GRANDE    15           0           2           6
 127            ZAPOTLANEJO     9           0           1           7

     2 estrellas 1 estrellas sin categoria   año
 10            0           0             2  2018
 11            0           0             1  2018
 12            0           0             8  2018
 13            0           0             1  2018
 14            0           2             0  2018
 ..          ...         ...           ...   ...
 123           0           0             5  2018
 124           0           0             1  2018
 125           0           0             0  2018
 126           4           3             0  2018
 127           1           0             0  2018

 [118 rows x 9 columns],
                  municipio total 5 estrellas 4 estrellas 3 estrellas  \
 7                Municipio  2205         179         293         380
 9                   ACATIC     4           0           0           1
 10       ACATLÁN DE JUÁREZ     1           0           0           1
 11    AHUALULCO DE MERCADO     9           1           3           0
 12                AMACUECA     1           0           0           0
 ..                     ...   ...         ...         ...         ...
 122             ZAPOTILTIC     5           0           1           0
 123  ZAPOTITLÁN DE VADILLO     1           0           0           0
 124       ZAPOTLÁN DEL REY     2           1           0           1
 125     ZAPOTLÁN EL GRANDE    18           0           2           9
 126            ZAPOTLANEJO    13           0           1           7

     2 estrellas 1 estrellas sin categoria   año
 7           240         198           915  2019
 9             0           1             2  2019
 10            0           0             0  2019
 11            0           0             5  2019
 12            0           0             1  2019
 ..          ...         ...           ...   ...
 122           0           0             4  2019
 123           0           0             1  2019
 124           0           0             0  2019
 125           3           2             2  2019
 126           1           0             4  2019

 [109 rows x 9 columns],
                  municipio  total        5 estrellas        4 estrellas  \
 4                Municipio  Total  Cinco\nestrellas*  Cuatro\nestrellas
 7                   Estado   2628                163                301
 8                   ACATIC      4                  0                  0
 9        ACATLAN DE JUAREZ      1                  0                  0
 10    AHUALULCO DE MERCADO      9                  1                  3
 ..                     ...    ...                ...                ...
 120             ZAPOTILTIC      3                  0                  1
 121  ZAPOTITLAN DE VADILLO      1                  0                  0
 122       ZAPOTLAN DEL REY      2                  1                  0
 123     ZAPOTLAN EL GRANDE     15                  0                  2
 124            ZAPOTLANEJO     13                  0                  1

           3 estrellas     2 estrellas    1 estrellas        sin categoria  \
 4    Tres \nestrellas  Dos\nestrellas  Una\nestrella  [Sin \ncategoría**]
 7                 372             238            206                 1348
 8                   1               0              1                    2
 9                   1               0              0                    0
 10                  0               0              0                    5
 ..                ...             ...            ...                  ...
 120                 0               0              0                    2
 121                 0               0              0                    1
 122                 1               0              0                    0
 123                 7               3              3                    0
 124                 7               1              0                    4

       año
 4    2020
 7    2020
 8    2020
 9    2020
 10   2020
 ..    ...
 120  2020
 121  2020
 122  2020
 123  2020
 124  2020

 [119 rows x 9 columns]]

In [28]:
# guardar todos los sets en su direccion correspondiente

final_dir = os.path.join(basedir,r'data\Hoteles')
final_dir
for i,df in enumerate(cleaned_sets):
    df.to_csv(f'{final_dir}_{2013+i}.csv')