In [35]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from unidecode import unidecode

In [21]:
def merge_csv_files(base_name, start_year, end_year, folder_path):
    dataframes = []

    for year in range(start_year, end_year + 1):
        filename = f'{base_name}{year}.csv'
        file_path = os.path.join(folder_path, filename)

        if os.path.exists(file_path):
            df = pd.read_csv(file_path)
            dataframes.append(df)
        else:
            print(f"Advertencia: El archivo {file_path} no existe y será omitido.")

    if dataframes:
        merged_df = pd.concat(dataframes, ignore_index=True)
    else:
        merged_df = pd.DataFrame()
        print("Advertencia: No se encontraron archivos para fusionar. Se devuelve un DataFrame vacío.")

    return merged_df

In [22]:
def normalizar_columna(df, columna, a_minusculas=True):

    if columna not in df.columns:
        raise ValueError(f"La columna '{columna}' no existe en el DataFrame")
    
 
    df_normalizado = df.copy()
    
    # Aplicar normalización
    df_normalizado[columna] = df_normalizado[columna].astype(str).apply(
        lambda x: unidecode(x)
            .replace('ñ', 'n').replace('Ñ', 'N') 
            .strip()  
    )

    if a_minusculas:
        df_normalizado[columna] = df_normalizado[columna].str.lower()
    
    return df_normalizado

In [23]:
import pandas as pd
from unidecode import unidecode

def filtrar_municipios_jalisco(df, columna_municipio, verbose=True):
    municipios_oficiales_normalizados = {
        unidecode(mun).lower().replace('ñ', 'n'): mun 
        for mun in [
        "Acatic", "Acatlán de Juárez", "Ahualulco de Mercado", "Amacueca", "Amatitán", "Ameca",
        "Arandas", "Atemajac de Brizuela", "Atengo", "Atenguillo", "Atotonilco el Alto",
        "Atoyac", "Autlán de Navarro", "Ayotlán", "Ayutla", "Bolaños", "Cabo Corrientes",
        "Cañadas de Obregón", "Casimiro Castillo", "Chapala", "Chimaltitán", "Chiquilistlán",
        "Cihuatlán", "Cocula", "Colotlán", "Concepción de Buenos Aires", "Cuautitlán de García Barragán",
        "Cuautla", "Cuquío", "Degollado", "Ejutla", "El Arenal", "El Grullo", "El Limón",
        "El Salto", "Encarnación de Díaz", "Etzatlán", "Gómez Farías", "Guachinango", "Guadalajara",
        "Hostotipaquillo", "Huejúcar", "Huejuquilla el Alto", "Ixtlahuacán de los Membrillos",
        "Ixtlahuacán del Río", "Jalostotitlán", "Jamay", "Jesús María", "Jilotlán de los Dolores",
        "Jocotepec", "Juanacatlán", "Juchitlán", "La Barca", "La Huerta", "La Manzanilla de la Paz",
        "Lagos de Moreno", "Magdalena", "Mascota", "Mazamitla", "Mexticacán", "Mezquitic",
        "Mixtlán", "Ocotlán", "Ojuelos de Jalisco", "Pihuamo", "Poncitlán", "Puerto Vallarta",
        "Quitupan", "San Cristóbal de la Barranca", "San Diego de Alejandría", "San Gabriel",
        "San Ignacio Cerro Gordo", "San Juan de los Lagos", "San Juanito de Escobedo",
        "San Julián", "San Marcos", "San Martín de Bolaños", "San Martín Hidalgo",
        "San Miguel el Alto", "San Pedro Tlaquepaque", "San Sebastián del Oeste", "Santa María de los Ángeles",
        "Santa María del Oro", "Sayula", "Tala", "Talpa de Allende", "Tamazula de Gordiano",
        "Tapalpa", "Tecalitlán", "Techaluta de Montenegro", "Tecolotlán", "Tenamaxtlán",
        "Teocaltiche", "Teocuitatlán de Corona", "Tepatitlán de Morelos", "Tequila", "Teuchitlán",
        "Tizapán el Alto", "Tlajomulco de Zúñiga", "Tlaquepaque", "Tolimán", "Tomatlán",
        "Tonalá", "Tonaya", "Tonila", "Totatiche", "Tototlán", "Tuxcacuesco", "Tuxcueca",
        "Tuxpan", "Unión de San Antonio", "Unión de Tula", "Valle de Guadalupe", "Valle de Juárez",
        "Villa Corona", "Villa Guerrero", "Villa Hidalgo", "Villa Purificación", "Yahualica de González Gallo",
        "Zacoalco de Torres", "Zapotiltic", "Zapotitlán de Vadillo", "Zapotlán el Grande", "Zapotlán del Rey",
        "Zapotlanejo"
    ]
    
    }
    
    # Registro de operación
    registros_eliminados = []
    
    # Función de normalización
    def normalizar(texto):
        return unidecode(str(texto)).lower().replace('ñ', 'n').strip()
    
    # Filtrado
    mascara = df[columna_municipio].apply(
        lambda x: normalizar(x) in municipios_oficiales_normalizados
    )
    
    df_filtrado = df[mascara].copy()
    
    # Reemplazar nombres por los oficiales (opcional)
    df_filtrado[columna_municipio] = df_filtrado[columna_municipio].apply(
        lambda x: municipios_oficiales_normalizados[normalizar(x)]
    )
    
    # Reporte
    if verbose:
        n_original = len(df)
        n_filtrado = len(df_filtrado)
        print(
            f"Filtrado completado:\n"
            f"- Registros originales: {n_original}\n"
            f"- Registros conservados: {n_filtrado}\n"
            f"- Registros eliminados: {n_original - n_filtrado}"
        )
    
    return df_filtrado

In [24]:
# def filtrar_municipios_jalisco(df, columna_municipio, verbose=True):
#     municipios_oficiales = [
#         "Acatic", "Acatlán de Juárez", "Ahualulco de Mercado", "Amacueca", "Amatitán", "Ameca",
#         "Arandas", "Atemajac de Brizuela", "Atengo", "Atenguillo", "Atotonilco el Alto",
#         "Atoyac", "Autlán de Navarro", "Ayotlán", "Ayutla", "Bolaños", "Cabo Corrientes",
#         "Cañadas de Obregón", "Casimiro Castillo", "Chapala", "Chimaltitán", "Chiquilistlán",
#         "Cihuatlán", "Cocula", "Colotlán", "Concepción de Buenos Aires", "Cuautitlán de García Barragán",
#         "Cuautla", "Cuquío", "Degollado", "Ejutla", "El Arenal", "El Grullo", "El Limón",
#         "El Salto", "Encarnación de Díaz", "Etzatlán", "Gómez Farías", "Guachinango", "Guadalajara",
#         "Hostotipaquillo", "Huejúcar", "Huejuquilla el Alto", "Ixtlahuacán de los Membrillos",
#         "Ixtlahuacán del Río", "Jalostotitlán", "Jamay", "Jesús María", "Jilotlán de los Dolores",
#         "Jocotepec", "Juanacatlán", "Juchitlán", "La Barca", "La Huerta", "La Manzanilla de la Paz",
#         "Lagos de Moreno", "Magdalena", "Mascota", "Mazamitla", "Mexticacán", "Mezquitic",
#         "Mixtlán", "Ocotlán", "Ojuelos de Jalisco", "Pihuamo", "Poncitlán", "Puerto Vallarta",
#         "Quitupan", "San Cristóbal de la Barranca", "San Diego de Alejandría", "San Gabriel",
#         "San Ignacio Cerro Gordo", "San Juan de los Lagos", "San Juanito de Escobedo",
#         "San Julián", "San Marcos", "San Martín de Bolaños", "San Martín Hidalgo",
#         "San Miguel el Alto", "San Pedro Tlaquepaque", "San Sebastián del Oeste", "Santa María de los Ángeles",
#         "Santa María del Oro", "Sayula", "Tala", "Talpa de Allende", "Tamazula de Gordiano",
#         "Tapalpa", "Tecalitlán", "Techaluta de Montenegro", "Tecolotlán", "Tenamaxtlán",
#         "Teocaltiche", "Teocuitatlán de Corona", "Tepatitlán de Morelos", "Tequila", "Teuchitlán",
#         "Tizapán el Alto", "Tlajomulco de Zúñiga", "Tlaquepaque", "Tolimán", "Tomatlán",
#         "Tonalá", "Tonaya", "Tonila", "Totatiche", "Tototlán", "Tuxcacuesco", "Tuxcueca",
#         "Tuxpan", "Unión de San Antonio", "Unión de Tula", "Valle de Guadalupe", "Valle de Juárez",
#         "Villa Corona", "Villa Guerrero", "Villa Hidalgo", "Villa Purificación", "Yahualica de González Gallo",
#         "Zacoalco de Torres", "Zapotiltic", "Zapotitlán de Vadillo", "Zapotlán el Grande", "Zapotlán del Rey",
#         "Zapotlanejo"
#     ]
    
#     # Normalización para comparación
#     municipios_normalizados = {
#         unidecode(mun).lower().replace('ñ', 'n'): mun 
#         for mun in municipios_oficiales
#     }
    
#     # Preparamos registro de eliminaciones
#     reporte = {
#         'eliminados': [],
#         'conservados': [],
#         'total_original': len(df),
#         'total_filtrado': 0
#     }
    
#     def normalizar_nombre(nombre):
#         return unidecode(str(nombre)).lower().replace('ñ', 'n')
    
#     # Filtrado
#     datos_filtrados = []
#     for idx, row in df.iterrows():
#         original = row[columna_municipio]
#         normalizado = normalizar_nombre(original)
        
#         if normalizado in municipios_normalizados:
#             row[columna_municipio] = municipios_normalizados[normalizado]
#             datos_filtrados.append(row)
#             reporte['conservados'].append(original)
#         else:
#             reporte['eliminados'].append({
#                 'indice': idx,
#                 'valor_original': original,
#                 'razon': 'No es municipio de Jalisco' if normalizado else 'Valor nulo/vacío'
#             })
    
#     df_filtrado = pd.DataFrame(datos_filtrados).reset_index(drop=True)
#     reporte['total_filtrado'] = len(df_filtrado)
    
#     # Retorno consistente
#     if verbose:
#         print(f"\n=== REPORTE DE FILTRADO ===")
#         print(f"• Filas originales: {reporte['total_original']}")
#         print(f"• Filas conservadas: {reporte['total_filtrado']}")
#         print(f"• Filas eliminadas: {reporte['total_original'] - reporte['total_filtrado']}")
        
#         # Mostrar algunos ejemplos de eliminados si hay
#         if reporte['eliminados']:
#             print("\nEjemplos de registros eliminados:")
#             for ejemplo in reporte['eliminados'][:3]:  # Muestra máximo 3 ejemplos
#                 print(f"Índice {ejemplo['indice']}: '{ejemplo['valor_original']}' - {ejemplo['razon']}")
        
#         return df_filtrado  # Siempre devuelve DataFrame cuando verbose=True
#     else:
#         return df_filtrado, reporte  # Devuelve tupla (DataFrame, dict) cuando verbose=False

In [25]:
regiones_jalisco = {
    "Norte": [
        "Bolanos",
        "Chimalitan",
        "Colotan",
        "Huejicar",
        "Huejuquila el Alto",
        "Mezquito",
        "San Martin de Bolanos",
        "Totaiche",
        "Vila Guerrero"
    ],
    "Altos Norte": [
        "Encarnacion de Diaz",
        "Lagos de Moreno",
        "Ojuelos de Jalisco",
        "San Diego de Alejandria",
        "San Juan de los Lagos",
        "Teocaltiche",
        "Union de San Antonio",
        "Vila Hidalgo"
    ],
    "Altos Sur": [
        "Acatic",
        "Arandas",
        "Canadas de Obregon",
        "Jalostotitlan",
        "Jesus Maria",
        "Mexticacan",
        "San Ignacio Cerro Gordo",
        "San Julian",
        "San Miguel el Alto",
        "Tepatitlan de Morelos",
        "Valle de Guadalupe",
        "Yahualica de Gonzalez Gallo"
    ],
    "Cienega": [
        "Atotonilco el Alto",
        "Ayotlan",
        "Chapala",
        "Degollado",
        "Jamay",
        "Jocotepec",
        "La Barca",
        "Ocotlan",
        "Poncitlan",
        "Tizapan el Alto",
        "Tototlan",
        "Tuxcueca",
        "Zapotlan del Rey"
    ],
    "Sureste": [
        "Concepcion de Buenos Aires",
        "La Manzanilla de la Paz",
        "Mazamitla",
        "Pihuamo",
        "Quitupan",
        "Santa Maria del Oro",
        "Tamazula de Gordiano",
        "Tecalitlan",
        "Valle de Juarez"
    ],
    "Sur": [
        "Amacueca",
        "Atemajac de Brizuela",
        "Atoyac",
        "Gomez Farias",
        "San Gabriel",
        "Sayula",
        "Tapalpa",
        "Techaluta",
        "Tuxpan",
        "Zacoalco de Torres",
        "Zapotiltic",
        "Zapotlan del Vadillo",
        "Zapotlan el Grande"
    ],
    "Sierra de Amula": [
        "Atengo",
        "Chiquilistlan",
        "El Grullo",
        "El Limon",
        "Juchitlan",
        "Tecolotlan",
        "Tenamaxtlan",
        "Tonaya",
        "Union de Tula"
    ],
    "Costa Sur": [
        "Autlan de Navarro",
        "Casimiro Castillo",
        "Cihuatlan",
        "La Huerta",
        "Villa Purificacion"
    ],
    "Costa Norte": [
        "Cabo Corrientes",
        "Puerto Vallarta",
        "Tomatlan"
    ],
    "Sierra Occidental": [
        "Atenguillo",
        "Ayutla",
        "Guachinango",
        "Mascota",
        "San Sebastian del Oeste",
        "Talpa de Allende"
    ],
    "Valles": [
        "Ahualulco de Mercado",
        "Amatitan",
        "Ameca",
        "Cocula",
        "El Arenal",
        "Etzatlan",
        "Hostotipaquillo",
        "Magdalena",
        "San Juanito de Escobedo",
        "San Marcos",
        "San Martin Hidalgo",
        "Tala",
        "Tequila",
        "Teuchitlan"
    ],
    "Centro": [
        "Cuquio",
        "El Salto",
        "Guadalajara",
        "Ixtlahuacan de los Membrillos",
        "Ixtlahuacan del Rio",
        "San Cristobal de la Barranca",
        "San Pedro Tlaquepaque",
        "Tlajomulco de Zuñiga",
        "Tonala",
        "Villa Corona",
        "Zapopan",
        "Zapotlanejo"
    ]
}

# Función para mostrar todas las regiones y sus municipios
def mostrar_regiones():
    for region, municipios in regiones_jalisco.items():
        print(f"\n{region}:")
        for municipio in municipios:
            print(f"- {municipio}")

if __name__ == "__main__":
    print("Regiones y Municipios de Jalisco")
    print("=" * 30)
    mostrar_regiones()

Regiones y Municipios de Jalisco
==============================

Norte:
- Bolanos
- Chimalitan
- Colotan
- Huejicar
- Huejuquila el Alto
- Mezquito
- San Martin de Bolanos
- Totaiche
- Vila Guerrero

Altos Norte:
- Encarnacion de Diaz
- Lagos de Moreno
- Ojuelos de Jalisco
- San Diego de Alejandria
- San Juan de los Lagos
- Teocaltiche
- Union de San Antonio
- Vila Hidalgo

Altos Sur:
- Acatic
- Arandas
- Canadas de Obregon
- Jalostotitlan
- Jesus Maria
- Mexticacan
- San Ignacio Cerro Gordo
- San Julian
- San Miguel el Alto
- Tepatitlan de Morelos
- Valle de Guadalupe
- Yahualica de Gonzalez Gallo

Cienega:
- Atotonilco el Alto
- Ayotlan
- Chapala
- Degollado
- Jamay
- Jocotepec
- La Barca
- Ocotlan
- Poncitlan
- Tizapan el Alto
- Tototlan
- Tuxcueca
- Zapotlan del Rey

Sureste:
- Concepcion de Buenos Aires
- La Manzanilla de la Paz
- Mazamitla
- Pihuamo
- Quitupan
- Santa Maria del Oro
- Tamazula de Gordiano
- Tecalitlan
- Valle de Juarez

Sur:
- Amacueca
- Atemajac de Brizuela
- Atoyac
- Gomez Farias
- San Gabriel
- Sayula
- Tapalpa
- Techaluta
- Tuxpan
- Zacoalco de Torres
- Zapotiltic
- Zapotlan del Vadillo
- Zapotlan el Grande

Sierra de Amula:
- Atengo
- Chiquilistlan
- El Grullo
- El Limon
- Juchitlan
- Tecolotlan
- Tenamaxtlan
- Tonaya
- Union de Tula

Costa Sur:
- Autlan de Navarro
- Casimiro Castillo
- Cihuatlan
- La Huerta
- Villa Purificacion

Costa Norte:
- Cabo Corrientes
- Puerto Vallarta
- Tomatlan

Sierra Occidental:
- Atenguillo
- Ayutla
- Guachinango
- Mascota
- San Sebastian del Oeste
- Talpa de Allende

Valles:
- Ahualulco de Mercado
- Amatitan
- Ameca
- Cocula
- El Arenal
- Etzatlan
- Hostotipaquillo
- Magdalena
- San Juanito de Escobedo
- San Marcos
- San Martin Hidalgo
- Tala
- Tequila
- Teuchitlan

Centro:
- Cuquio
- El Salto
- Guadalajara
- Ixtlahuacan de los Membrillos
- Ixtlahuacan del Rio
- San Cristobal de la Barranca
- San Pedro Tlaquepaque
- Tlajomulco de Zuñiga
- Tonala
- Villa Corona
- Zapopan
- Zapotlanejo

In [26]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df con una columna 'municipio'
def mapear_region(df, columna_municipio):
    # Diccionario de mapeo de municipios a regiones
    municipios_a_region = {
        "norte": [
            "bolanos", "chimaltitan", "colotlan", "huejucar", "huejuquilla el alto", 
            "mezquitic", "san martin de bolanos", "totatiche", "villa guerrero"
        ],
        "altos norte": [
            "encarnacion de diaz", "lagos de moreno", "ojuelos de jalisco", 
            "san diego de alejandro", "san juan de los lagos", "teocaltiche", 
            "union de san antonio", "villa hidalgo"
        ],
        "altos sur": [
            "acatic", "arandas", "canadas de obregon", "jalostotitlan", 
            "jesus maria", "mexticacan", "san ignacio cerro gordo", 
            "san julian", "san miguel el alto", "tepatitlan de morelos", 
            "valle de guadalupe", "yahualica de gonzalez gallo"
        ],
        "cienega": [
            "atotonilco el alto", "ayotlan", "chapala", "degollado", 
            "jamay", "jocotepec", "la barca", "ocotlan", 
            "poncitlan", "tizapan el alto", "tototlan", "tuxcueca", 
            "zapotlan del rey"
        ],
        "sureste": [
            "concepcion de buenos aires", "la manzanilla de la paz", 
            "mazamitla", "pihuamo", "quitupan", "santa maria del oro", 
            "tamazula de gordiano", "tecalitlan", "valle de juarez"
        ],
        "sur": [
            "amacueca", "atemajac de brizuela", "atoyac", "gomez farias", 
            "san gabriel", "sayula", "tapalpa", "tonila", 
            "tuxpan", "zacoalco de torres", "zapotiltic", "zapotitlan de vadillo", 
            "zapotlan el grande"
        ],
        "sierra de amula": [
            "atengo", "chiquilistlan", "el grullo", "el limon", 
            "juchitlan", "tecotitlan", "tenamaxtlan", "tonaya", 
            "union de tula"
        ],
        "costa sur": [
            "autlan de navarro", "casimiro castillo", "cihuatlan", 
            "la huerta", "villa purificacion"
        ],
        "costa norte": [
            "cabo corrientes", "puerto vallarta", "tomatlan"
        ],
        "sierra occidental": [
            "atenguillo", "ayutla", "guachinango", "mascota", 
            "san sebastian del oeste", "talpa de allende"
        ],
        "valles": [
            "ahualulco de mercado", "amatitan", "ameca", "cocula", 
            "el arenal", "etzatlan", "hostotipaquillo", "magdalena", 
            "san juanito de escobedo", "san marcos", "san martin hidalgo", 
            "tala", "tequila", "teuchitlan"
        ],
        "centro": [
            "cuquio", "el salto", "guadalajara", "ixtlahuacan de los membrillos", 
            "ixtlahuacan del rio", "san cristobal de la barranca", 
            "san pedro tlaquepaque", "tlajomulco de zuniga", "tonala", 
            "villa corona", "zapopan", "zapotlanejo"
        ]
    }

    # Invertir el diccionario para facilitar el mapeo
    region_a_municipios = {municipio: region for region, municipios in municipios_a_region.items() for municipio in municipios}

    # Mapear la columna de municipios a sus respectivas regiones
    df['region'] = df[columna_municipio].str.lower().map(region_a_municipios)

    return df

In [27]:
folder_path = './data/Cuartos_Hoteles'  

merged_data = merge_csv_files('Cuartos_Hoteles_', 2013, 2020, folder_path)

merged_data

,Unnamed: 0,municipio,total,5 estrellas,4 estrellas,3 estrellas,2 estrellas,1 estrellas,sin categoria,año
0,11,Estado,65677,11769,13227,9866,3771,5987,21057,2013
1,12,I Norte,503,0,83,60,9,140,211,2013
2,13,Bolaños,28,0,0,0,0,8,20,2013
3,14,Chimaltitán,8,0,0,0,0,0,8,2013
4,15,Colotlán,138,0,62,0,0,76,0,2013
...,...,...,...,...,...,...,...,...,...,...
936,120,ZAPOTILTIC,54,0,18,0,0,0,36,2020
937,121,ZAPOTITLAN DE VADILLO,20,0,0,0,0,0,20,2020
938,122,ZAPOTLAN DEL REY,28,13,0,15,0,0,0,2020
939,123,ZAPOTLAN EL GRANDE,537,0,137,239,60,101,0,2020
940,124,ZAPOTLANEJO,211,0,18,176,17,0,N/D,2020

In [28]:
df_normalizado = normalizar_columna(merged_data, 'municipio')
df_normalizado

,Unnamed: 0,municipio,total,5 estrellas,4 estrellas,3 estrellas,2 estrellas,1 estrellas,sin categoria,año
0,11,estado,65677,11769,13227,9866,3771,5987,21057,2013
1,12,i norte,503,0,83,60,9,140,211,2013
2,13,bolanos,28,0,0,0,0,8,20,2013
3,14,chimaltitan,8,0,0,0,0,0,8,2013
4,15,colotlan,138,0,62,0,0,76,0,2013
...,...,...,...,...,...,...,...,...,...,...
936,120,zapotiltic,54,0,18,0,0,0,36,2020
937,121,zapotitlan de vadillo,20,0,0,0,0,0,20,2020
938,122,zapotlan del rey,28,13,0,15,0,0,0,2020
939,123,zapotlan el grande,537,0,137,239,60,101,0,2020
940,124,zapotlanejo,211,0,18,176,17,0,N/D,2020

In [29]:
df_filtrado_cols = filtrar_municipios_jalisco(df_normalizado, 'municipio')

Filtrado completado:
- Registros originales: 941
- Registros conservados: 913
- Registros eliminados: 28

In [30]:
df_filtrado_cols

,Unnamed: 0,municipio,total,5 estrellas,4 estrellas,3 estrellas,2 estrellas,1 estrellas,sin categoria,año
2,13,Bolaños,28,0,0,0,0,8,20,2013
3,14,Chimaltitán,8,0,0,0,0,0,8,2013
4,15,Colotlán,138,0,62,0,0,76,0,2013
5,16,Huejúcar,41,0,0,0,0,41,0,2013
6,17,Huejuquilla el Alto,77,0,0,60,0,0,17,2013
...,...,...,...,...,...,...,...,...,...,...
936,120,Zapotiltic,54,0,18,0,0,0,36,2020
937,121,Zapotitlán de Vadillo,20,0,0,0,0,0,20,2020
938,122,Zapotlán del Rey,28,13,0,15,0,0,0,2020
939,123,Zapotlán el Grande,537,0,137,239,60,101,0,2020
940,124,Zapotlanejo,211,0,18,176,17,0,N/D,2020

In [31]:
df= normalizar_columna(df_filtrado_cols, 'municipio')
df

,Unnamed: 0,municipio,total,5 estrellas,4 estrellas,3 estrellas,2 estrellas,1 estrellas,sin categoria,año
2,13,bolanos,28,0,0,0,0,8,20,2013
3,14,chimaltitan,8,0,0,0,0,0,8,2013
4,15,colotlan,138,0,62,0,0,76,0,2013
5,16,huejucar,41,0,0,0,0,41,0,2013
6,17,huejuquilla el alto,77,0,0,60,0,0,17,2013
...,...,...,...,...,...,...,...,...,...,...
936,120,zapotiltic,54,0,18,0,0,0,36,2020
937,121,zapotitlan de vadillo,20,0,0,0,0,0,20,2020
938,122,zapotlan del rey,28,13,0,15,0,0,0,2020
939,123,zapotlan el grande,537,0,137,239,60,101,0,2020
940,124,zapotlanejo,211,0,18,176,17,0,N/D,2020

In [32]:
df_final = mapear_region(df, 'municipio')
df_final

,Unnamed: 0,municipio,total,5 estrellas,4 estrellas,3 estrellas,2 estrellas,1 estrellas,sin categoria,año,region
2,13,bolanos,28,0,0,0,0,8,20,2013,norte
3,14,chimaltitan,8,0,0,0,0,0,8,2013,norte
4,15,colotlan,138,0,62,0,0,76,0,2013,norte
5,16,huejucar,41,0,0,0,0,41,0,2013,norte
6,17,huejuquilla el alto,77,0,0,60,0,0,17,2013,norte
...,...,...,...,...,...,...,...,...,...,...,...
936,120,zapotiltic,54,0,18,0,0,0,36,2020,sur
937,121,zapotitlan de vadillo,20,0,0,0,0,0,20,2020,sur
938,122,zapotlan del rey,28,13,0,15,0,0,0,2020,cienega
939,123,zapotlan el grande,537,0,137,239,60,101,0,2020,sur
940,124,zapotlanejo,211,0,18,176,17,0,N/D,2020,centro

In [38]:
ruta = 'data/geodata_historicos/'
h_serv_df =gpd.read_file(ruta+'df_cuartos.shp')
h_serv_df

,municipio,total,5 estrella,4 estrella,3 estrella,2 estrella,1 estrella,sin catego,año,region,geometry
0,bolanos,28,0,0,0,0,8,20,2013,norte,POINT (601661.116 2400304.224)
1,chimaltitan,8,0,0,0,0,0,8,2013,norte,POINT (651810.204 2413406.437)
2,colotlan,138,0,62,0,0,76,0,2013,norte,POINT (672613.474 2453585.666)
3,huejucar,41,0,0,0,0,41,0,2013,norte,POINT (676260.780 2463955.231)
4,huejuquilla el alto,77,0,0,60,0,0,17,2013,norte,POINT (616464.260 2513807.863)
...,...,...,...,...,...,...,...,...,...,...,...
920,zapotiltic,54,0,18,0,0,0,36,2020,sur,POINT (667475.079 2169266.784)
921,zapotitlan de vadillo,20,0,0,0,0,0,20,2020,sur,POINT (619920.044 2155190.078)
922,zapotlan del rey,28,13,0,15,0,0,0,2020,cienega,POINT (712922.412 2263487.996)
923,zapotlan el grande,537,0,137,239,60,101,0,2020,sur,POINT (661733.543 2181749.543)
924,zapotlanejo,211,0,18,176,17,0,N/D,2020,centro,POINT (700795.841 2278162.117)

In [43]:

h_serv_df['total'] = pd.to_numeric(h_serv_df['total'], errors='coerce')
h_serv_df = h_serv_df.sort_values(by=['municipio', 'año'])
h_serv_df['cambio_total'] = h_serv_df.groupby('municipio')['total'].diff()
h_serv_df['cambio_total'] = h_serv_df['cambio_total'].fillna(0)

h_serv_df

,municipio,total,5 estrella,4 estrella,3 estrella,2 estrella,1 estrella,sin catego,año,region,geometry,cambio_total
17,acatic,79,0,0,0,53,10,16,2013,altos sur,POINT (721802.431 2306550.768),0.0
131,acatic,79,0,0,0,53,10,16,2014,altos sur,POINT (718958.019 2298798.240),0.0
245,acatic,79,0,0,0,53,10,16,2015,altos sur,POINT (726719.092 2301821.297),0.0
359,acatic,85,0,0,7,0,12,66,2016,altos sur,POINT (706378.023 2298724.977),6.0
460,acatic,66,0,0,0,0,0,66,2017,altos sur,POINT (722117.380 2304106.470),-19.0
...,...,...,...,...,...,...,...,...,...,...,...,...
459,zapotlanejo,188,0,18,153,17,0,0,2016,centro,POINT (694650.961 2293658.862),11.0
577,zapotlanejo,188,0,18,153,17,0,0,2017,centro,POINT (694173.747 2285206.068),0.0
695,zapotlanejo,188,0,18,153,17,0,0,2018,centro,POINT (694551.922 2292233.807),0.0
810,zapotlanejo,211,0,18,176,17,0,N/D,2019,centro,POINT (701265.091 2272120.769),23.0
924,zapotlanejo,211,0,18,176,17,0,N/D,2020,centro,POINT (700795.841 2278162.117),0.0

In [ ]:
h_serv_df['cambio_total_2013'] =

In [ ]:
cambios_hoteles = h_serv_df