# NOSE QUE VERGA ES ESTO

In [2]:
import os
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_cuartos = gpd.read_file('data/geodata_historicos/df_cuartos.shp')
df_hoteles = gpd.read_file('data/geodata_historicos/df_hoteles.shp')
df_servicios = gpd.read_file('data/geodata_historicos/df_servicios.shp')

sacar moda por region de lo mas frecuente de los hotels y hay otra cosa

In [4]:
df_cuartos

,municipio,total,5 estrella,4 estrella,3 estrella,2 estrella,1 estrella,sin catego,año,region,geometry
0,bolanos,28,0,0,0,0,8,20,2013,norte,POINT (630487.489 2418741.766)
1,chimaltitan,8,0,0,0,0,0,8,2013,norte,POINT (641908.744 2419381.145)
2,colotlan,138,0,62,0,0,76,0,2013,norte,POINT (687716.027 2439943.440)
3,huejucar,41,0,0,0,0,41,0,2013,norte,POINT (669897.399 2472169.574)
4,huejuquilla el alto,77,0,0,60,0,0,17,2013,norte,POINT (614103.465 2507056.790)
...,...,...,...,...,...,...,...,...,...,...,...
920,zapotiltic,54,0,18,0,0,0,36,2020,sur,POINT (662105.811 2174922.065)
921,zapotitlan de vadillo,20,0,0,0,0,0,20,2020,sur,POINT (644854.143 2159952.380)
922,zapotlan del rey,28,13,0,15,0,0,0,2020,cienega,POINT (717327.662 2268047.274)
923,zapotlan el grande,537,0,137,239,60,101,0,2020,sur,POINT (659167.484 2179755.055)
924,zapotlanejo,211,0,18,176,17,0,N/D,2020,centro,POINT (706436.736 2281598.486)

In [5]:
df_hoteles

,municipio,total,5 estrella,4 estrella,3 estrella,2 estrella,1 estrella,sin catego,año,region,geometry
0,bolanos,3,0,0,0,0,1,2,2013,norte,POINT (612211.428 2395738.544)
1,chimaltitan,1,0,0,0,0,0,1,2013,norte,POINT (651852.104 2408890.109)
2,colotlan,2,0,1,0,0,1,0,2013,norte,POINT (692610.712 2439235.534)
3,huejucar,4,0,0,0,0,4,0,2013,norte,POINT (682714.170 2472578.468)
4,huejuquilla el alto,4,0,0,2,0,0,2,2013,norte,POINT (614467.136 2484608.942)
...,...,...,...,...,...,...,...,...,...,...,...
913,zapotiltic,3,0,1,0,0,0,2,2020,sur,POINT (675549.899 2176397.213)
914,zapotitlan de vadillo,1,0,0,0,0,0,1,2020,sur,POINT (640295.685 2153624.403)
915,zapotlan del rey,2,1,0,1,0,0,0,2020,cienega,POINT (725128.854 2270429.228)
916,zapotlan el grande,15,0,2,7,3,3,0,2020,sur,POINT (660388.834 2177295.060)
917,zapotlanejo,13,0,1,7,1,0,4,2020,centro,POINT (700215.461 2295732.233)

In [29]:
df_servicios[[x for x in df_servicios.columns if x not in ['municipio', 'geometry', 'año', 'region']]] = df_servicios[[x for x in df_servicios.columns if x not in ['municipio', 'geometry', 'año', 'region']]].astype('int64')

In [46]:
pivot = pd.pivot_table(df_servicios, 'Agencias d', ['region', 'municipio', 'año'])

In [47]:
df_servicios['region'].unique()

array(['norte', None, 'altos norte', 'altos sur', 'cienega', 'sureste',
       'sur', 'sierra de amula', 'costa sur', 'costa norte',
       'sierra occidental', 'valles', 'centro'], dtype=object)

In [52]:
datos = pivot.loc['norte']
datos

                            Agencias d
municipio             año
bolanos               2017         0.0
                      2018         0.0
chimaltitan           2013         0.0
                      2014         0.0
                      2015         0.0
                      2016         0.0
colotlan              2013         3.0
                      2014         3.0
                      2015         3.0
                      2016         3.0
                      2017         2.0
                      2018         2.0
huejucar              2013         2.0
                      2014         2.0
                      2015         2.0
                      2016         2.0
                      2017         2.0
                      2018         2.0
                      2019         1.0
                      2020         0.0
huejuquilla el alto   2013         1.0
                      2014         1.0
                      2015         1.0
                      2016         1.0
                      2017         0.0
                      2018         0.0
mezquitic             2013         1.0
                      2014         1.0
                      2015         1.0
                      2016         1.0
                      2017         0.0
                      2018         0.0
san martin de bolanos 2013         0.0
                      2014         0.0
                      2015         0.0
                      2016         0.0
totatiche             2013         1.0
                      2014         1.0
                      2015         1.0
                      2016         1.0
villa guerrero        2013         1.0
                      2014         1.0
                      2015         1.0
                      2016         1.0
                      2017         1.0
                      2018         1.0