In [103]:
import numpy as np
import pandas as pd 
import os
import warnings

warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

basedir = '.'

# Que hace este notebook


Este notebook esta hecho para leer los archivos de los anuarios de turismo de 2013-2020 y abrir una hoja especifica que contiene una estructura especifica. Una vez abierto, se ajusta el Frame para enmarcar solo los datos relevantes y se guardan

Se define una funcion que obtiene una hoja especifica de todos los anuarios 2013-2020 y se almacenan en una lista

In [104]:

def get_sets_from_xlsx(file_dir,sheet_num, years=np.arange(2013,2021) ) -> list:
    ''' Esta funcion  devuelve una lista de DataFrames de la misma hija de excel de cada anuario 
    filedir: directorio de los anuarios
    sheet_num: numero de la hoja que se desea extraer
    years: años que se desean analizar, el default es todos'''

    sets_list = []

    for year in years:
        
        filepath = file_dir + f'\data_{year}.xlsx'
        file = pd.ExcelFile(filepath)
        
        sheet_name = file.sheet_names[sheet_num]
        
        df = pd.read_excel(filepath,sheet_name=sheet_name,header=None,dtype=str)

        df['Año'] = year

        sets_list.append(df)
    
    return sets_list

In [105]:

raw_data_dir = os.path.join(basedir,'raw_data')

# extraer info de la hoja numero 2 '1.1.1 Establecimientos de hospedaje'

data_sets = get_sets_from_xlsx(raw_data_dir,4)

# Sobrescribir el anuario 2013 en la hoja correcta, porque tiene una que recorre todas las hojas portada y no se puede modificar 

data_sets[0] = get_sets_from_xlsx(raw_data_dir,5)[0]

In [106]:
data_sets[3].head(60)

,0,1,2,3,4,5,6,7,8,9,10,11,Año
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2,NaN,1.2.1. Otros establecimientos que prestan serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3,NaN,con el turismo por región y municipio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
6,NaN,Región\n Municipio,NaN,NaN,NaN,Agencias de\n viajes*,Balnearios,Campos\nde golf,Empresas arrendadoras\nde automóviles,Marinas turísticas,Muelles de\natraque,Transportadoras turísticas\nespecializadas,2016
7,NaN,Estado,NaN,NaN,NaN,816,157,16,104,2,16,531,2016
8,NaN,I Norte,NaN,NaN,NaN,9,9,0,0,0,0,0,2016
9,NaN,NaN,Chimaltitán,NaN,NaN,0,2,0,0,0,0,0,2016
10,NaN,NaN,Colotlán,NaN,NaN,3,3,0,0,0,0,0,2016
11,NaN,NaN,Huejúcar,NaN,NaN,2,1,0,0,0,0,0,2016
12,NaN,NaN,Huejuquilla el Alto,NaN,NaN,1,1,0,0,0,0,0,2016
13,NaN,NaN,Mezquitic,NaN,NaN,1,0,0,0,0,0,0,2016
14,NaN,NaN,San Martín de Bolaños,NaN,NaN,0,1,0,0,0,0,0,2016
15,NaN,NaN,Santa María de los Ángeles,NaN,NaN,0,1,0,0,0,0,0,2016
16,NaN,NaN,Totatiche,NaN,NaN,1,0,0,0,0,0,0,2016
17,NaN,NaN,Villa Guerrero,NaN,NaN,1,0,0,0,0,0,0,2016
18,NaN,II Altos Norte,NaN,NaN,NaN,39,20,1,0,0,0,0,2016
19,NaN,NaN,Encarnación de Díaz,NaN,NaN,6,7,0,0,0,0,0,2016
20,NaN,NaN,Lagos de Moreno,NaN,NaN,15,9,1,0,0,0,0,2016
21,NaN,NaN,San Diego de Alejandría,NaN,NaN,2,0,0,0,0,0,0,2016
22,NaN,NaN,San Juan de los Lagos,NaN,NaN,8,2,0,0,0,0,0,2016
23,NaN,NaN,Teocaltiche,NaN,NaN,5,0,0,0,0,0,0,2016
24,NaN,NaN,Unión de San Antonio,NaN,NaN,2,1,0,0,0,0,0,2016
25,NaN,NaN,Villa Hidalgo,NaN,NaN,1,1,0,0,0,0,0,2016
26,NaN,III Altos Sur,NaN,NaN,NaN,60,13,1,0,0,0,1,2016
27,NaN,NaN,Acatic,NaN,NaN,3,0,0,0,0,0,0,2016
28,NaN,NaN,Arandas,NaN,NaN,11,1,0,0,0,0,0,2016
29,NaN,NaN,Cañadas de Obregón,NaN,NaN,1,3,0,0,0,0,0,2016
30,NaN,NaN,Jalostotitlán,NaN,NaN,4,1,0,0,0,0,0,2016
31,NaN,NaN,Jesús María,NaN,NaN,4,0,0,0,0,0,0,2016
32,NaN,NaN,Mexticacán,NaN,NaN,2,1,0,0,0,0,0,2016
33,NaN,NaN,San Ignacio Cerro Gordo,NaN,NaN,1,0,0,0,0,0,0,2016
34,NaN,NaN,San Julián,NaN,NaN,1,1,0,0,0,0,0,2016
35,NaN,NaN,San Miguel el Alto,NaN,NaN,4,0,0,0,0,0,0,2016
36,NaN,NaN,Tepatitlán de Morelos,NaN,NaN,22,5,1,0,0,0,1,2016
37,NaN,NaN,Valle de Guadalupe,NaN,NaN,3,0,0,0,0,0,0,2016
38,NaN,NaN,Yahualica de González Gallo,NaN,NaN,4,1,0,0,0,0,0,2016
39,NaN,IV Ciénega,NaN,NaN,NaN,49,22,3,3,0,0,89,2016
40,NaN,NaN,Atotonilco el Alto,NaN,NaN,7,4,0,0,0,0,0,2016
41,NaN,NaN,Ayotlán,NaN,NaN,3,3,0,0,0,0,0,2016
42,NaN,NaN,Chapala,NaN,NaN,4,2,2,2,0,0,40,2016
43,NaN,NaN,Degollado,NaN,NaN,5,3,0,0,0,0,0,2016
44,NaN,NaN,Jamay,NaN,NaN,3,1,0,0,0,0,11,2016
45,NaN,NaN,Jocotepec,NaN,NaN,2,3,0,0,0,0,1,2016
46,NaN,NaN,La Barca,NaN,NaN,5,3,0,1,0,0,0,2016
47,NaN,NaN,Ocotlán,NaN,NaN,8,2,1,0,0,0,0,2016
48,NaN,NaN,Poncitlán,NaN,NaN,6,0,0,0,0,0,32,2016
49,NaN,NaN,Tizapán el Alto,NaN,NaN,2,1,0,0,0,0,3,2016
50,NaN,NaN,Tototlán,NaN,NaN,3,0,0,0,0,0,0,2016
51,NaN,NaN,Tuxcueca,NaN,NaN,0,0,0,0,0,0,1,2016
52,NaN,NaN,Zapotlán del Rey,NaN,NaN,1,0,0,0,0,0,1,2016
53,NaN,V Sureste,NaN,NaN,NaN,8,3,0,0,0,0,0,2016
54,NaN,NaN,Mazamitla,NaN,NaN,2,0,0,0,0,0,0,2016
55,NaN,NaN,Tamazula de Gordiano,NaN,NaN,4,3,0,0,0,0,0,2016
56,NaN,NaN,Tecalitlán,NaN,NaN,2,0,0,0,0,0,0,2016
57,NaN,VI Sur,NaN,NaN,NaN,22,10,1,1,0,0,0,2016
58,NaN,NaN,Amacueca,NaN,NaN,0,1,0,0,0,0,0,2016
59,NaN,NaN,Sayula,NaN,NaN,3,2,0,0,0,0,0,2016

Veamos como vienen los datos

In [107]:
df1 = data_sets[3]
df1

,0,1,2,3,4,5,6,7,8,9,10,11,Año
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
2,NaN,1.2.1. Otros establecimientos que prestan serv...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
3,NaN,con el turismo por región y municipio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,NaN,NaN,Zapopan,NaN,NaN,123,10,3,10,0,0,5,2016
115,NaN,NaN,Zapotlanejo,NaN,NaN,6,2,0,0,0,0,0,2016
116,NaN,"Nota: Datos sin actualizar a 2016, corresponde...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
117,NaN,*,"Comprende agencias de viajes, operadoras de vi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
118,NaN,Fuente:,Secretaría de Turismo del Gobierno del Estado....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016

In [108]:
def filter_dataframe(df,columns):
    """
     Filter and clean DataFrame based on hardcoded criteria.
    Args:
        df: pandas DataFrame to process
        columns: list of column names to assign
    """


    # Obtener el indice de la fila apartir de la de cual  empezara el DataFrame
    # Suele ser aquella que contiene municipio o Estado  
    first_row_idx = np.where((df == 'Estado') | (df == 'Municipio').any(axis=1))[0][0]
    
    # Obtener la columna apartir de la cual empezara el DataFrame, la que contiene los nombres de municipios
    # En este caso se escoge para pattern aquella columna que contenga a Guadalajara

    _,col_idx = ((df == 'Guadalajara') | (df == 'GUADALAJARA')).values.nonzero()
    col_idx = col_idx[0]


    # Obtener la columna en la que termina el DataFrame, la que es igual a Zapotlanejo
    last_row_idx,_ = ((df == 'Zapotlanejo') | (df == 'ZAPOTLANEJO')).values.nonzero() 
    last_row_idx = last_row_idx[0]

    # Redefinir el df en el rango deseado
    df = df.iloc[first_row_idx:last_row_idx + 1,col_idx:]

    # Dropear filas que quedan con nulos
    df = df.dropna(axis='columns',how='all')
    df = df.dropna(axis='rows',how='any')
     
     # redifinir las columnas
    df.columns = columns     


    return df

In [109]:
# Test de la funcion
# columns = ['municipio','total','5 estrellas','4 estrellas','3 estrellas','2 estrellas','1 estrellas','sin categoria','año']
columns = ["municipio","Agencias de viajes","Balnearios","Campos de golf","Empresas arrendadoras de automóviles","Marinas turísticas","Muelles de atraque","Transportadoras turísticas especializadas","año"]


df2 = filter_dataframe(data_sets[1],columns)
df2

,municipio,Agencias de viajes,Balnearios,Campos de golf,Empresas arrendadoras de automóviles,Marinas turísticas,Muelles de atraque,Transportadoras turísticas especializadas,año
10,Chimaltitán,0,2,0,0,0,0,0,2014
11,Colotlán,3,3,0,0,0,0,0,2014
12,Huejúcar,2,1,0,0,0,0,0,2014
13,Huejuquilla el Alto,1,1,0,0,0,0,0,2014
14,Mezquitic,1,0,0,0,0,0,0,2014
...,...,...,...,...,...,...,...,...,...
112,Tlajomulco de Zúñiga,7,3,1,6,0,12,0,2014
113,Tonalá,10,1,0,0,0,0,0,2014
114,Villa Corona,2,5,0,0,0,0,0,2014
115,Zapopan,123,10,3,10,0,0,5,2014
116,Zapotlanejo,6,2,0,0,0,0,0,2014

In [110]:
# Aplicarla a cada data set
cleaned_sets = []
# columns = ['municipio','total','5 estrellas','4 estrellas','3 estrellas','2 estrellas','1 estrellas','sin categoria','año']
columns = ["municipio","Agencias de viajes","Balnearios","Campos de golf","Empresas arrendadoras de automóviles","Marinas turísticas","Muelles de atraque","Transportadoras turísticas especializadas","año"]


for df in data_sets:
    print('- dataset limpiado correctamente')
    clean_df = filter_dataframe(df,columns)
    cleaned_sets.append(clean_df)

- dataset limpiado correctamente
- dataset limpiado correctamente
- dataset limpiado correctamente
- dataset limpiado correctamente
- dataset limpiado correctamente
- dataset limpiado correctamente
- dataset limpiado correctamente
- dataset limpiado correctamente

In [111]:
cleaned_sets

[                municipio Agencias de viajes Balnearios Campos de golf  \
 9                  Estado                816        157             16
 10                I Norte                  9          9              0
 11            Chimaltitán                  0          2              0
 12               Colotlán                  3          3              0
 13               Huejúcar                  2          1              0
 ..                    ...                ...        ...            ...
 113  Tlajomulco de Zúñiga                  7          3              1
 114                Tonalá                 10          1              0
 115          Villa Corona                  2          5              0
 116               Zapopan                123         10              3
 117           Zapotlanejo                  6          2              0

     Empresas arrendadoras de automóviles Marinas turísticas  \
 9                                    104                  2
 10                                     0                  0
 11                                     0                  0
 12                                     0                  0
 13                                     0                  0
 ..                                   ...                ...
 113                                    6                  0
 114                                    0                  0
 115                                    0                  0
 116                                   10                  0
 117                                    0                  0

     Muelles de atraque Transportadoras turísticas especializadas   año
 9                   16                                       531  2013
 10                   0                                         0  2013
 11                   0                                         0  2013
 12                   0                                         0  2013
 13                   0                                         0  2013
 ..                 ...                                       ...   ...
 113                 12                                         0  2013
 114                  0                                         0  2013
 115                  0                                         0  2013
 116                  0                                         5  2013
 117                  0                                         0  2013

 [109 rows x 9 columns],
                 municipio Agencias de viajes Balnearios Campos de golf  \
 10            Chimaltitán                  0          2              0
 11               Colotlán                  3          3              0
 12               Huejúcar                  2          1              0
 13    Huejuquilla el Alto                  1          1              0
 14              Mezquitic                  1          0              0
 ..                    ...                ...        ...            ...
 112  Tlajomulco de Zúñiga                  7          3              1
 113                Tonalá                 10          1              0
 114          Villa Corona                  2          5              0
 115               Zapopan                123         10              3
 116           Zapotlanejo                  6          2              0

     Empresas arrendadoras de automóviles Marinas turísticas  \
 10                                     0                  0
 11                                     0                  0
 12                                     0                  0
 13                                     0                  0
 14                                     0                  0
 ..                                   ...                ...
 112                                    6                  0
 113                                    0                  0
 114                                    0                  0
 115                                   10                  0
 116                                    0                  0

     Muelles de atraque Transportadoras turísticas especializadas   año
 10                   0                                         0  2014
 11                   0                                         0  2014
 12                   0                                         0  2014
 13                   0                                         0  2014
 14                   0                                         0  2014
 ..                 ...                                       ...   ...
 112                 12                                         0  2014
 113                  0                                         0  2014
 114                  0                                         0  2014
 115                  0                                         5  2014
 116                  0                                         0  2014

 [96 rows x 9 columns],
                 municipio Agencias de viajes Balnearios Campos de golf  \
 9             Chimaltitán                  0          2              0
 10               Colotlán                  3          3              0
 11               Huejúcar                  2          1              0
 12    Huejuquilla el Alto                  1          1              0
 13              Mezquitic                  1          0              0
 ..                    ...                ...        ...            ...
 111  Tlajomulco de Zúñiga                  7          3              1
 112                Tonalá                 10          1              0
 113          Villa Corona                  2          5              0
 114               Zapopan                123         10              3
 115           Zapotlanejo                  6          2              0

     Empresas arrendadoras de automóviles Marinas turísticas  \
 9                                      0                  0
 10                                     0                  0
 11                                     0                  0
 12                                     0                  0
 13                                     0                  0
 ..                                   ...                ...
 111                                    6                  0
 112                                    0                  0
 113                                    0                  0
 114                                   10                  0
 115                                    0                  0

     Muelles de atraque Transportadoras turísticas especializadas   año
 9                    0                                         0  2015
 10                   0                                         0  2015
 11                   0                                         0  2015
 12                   0                                         0  2015
 13                   0                                         0  2015
 ..                 ...                                       ...   ...
 111                 12                                         0  2015
 112                  0                                         0  2015
 113                  0                                         0  2015
 114                  0                                         5  2015
 115                  0                                         0  2015

 [96 rows x 9 columns],
                 municipio Agencias de viajes Balnearios Campos de golf  \
 9             Chimaltitán                  0          2              0
 10               Colotlán                  3          3              0
 11               Huejúcar                  2          1              0
 12    Huejuquilla el Alto                  1          1              0
 13              Mezquitic                  1          0              0
 ..                    ...                ...        ...            ...
 111  Tlajomulco de Zúñiga                  7          3              1
 112                Tonalá                 10          1              0
 113          Villa Corona                  2          5              0
 114               Zapopan                123         10              3
 115           Zapotlanejo                  6          2              0

     Empresas arrendadoras de automóviles Marinas turísticas  \
 9                                      0                  0
 10                                     0                  0
 11                                     0                  0
 12                                     0                  0
 13                                     0                  0
 ..                                   ...                ...
 111                                    6                  0
 112                                    0                  0
 113                                    0                  0
 114                                   10                  0
 115                                    0                  0

     Muelles de atraque Transportadoras turísticas especializadas   año
 9                    0                                         0  2016
 10                   0                                         0  2016
 11                   0                                         0  2016
 12                   0                                         0  2016
 13                   0                                         0  2016
 ..                 ...                                       ...   ...
 111                 12                                         0  2016
 112                  0                                         0  2016
 113                  0                                         0  2016
 114                  0                                         5  2016
 115                  0                                         0  2016

 [96 rows x 9 columns],
                 municipio Agencias de viajes Balnearios Campos de golf  \
 8                  Acatic                  1          0              0
 9       Acatlán de Juárez                  1          1              0
 10   Ahualulco de Mercado                  2          0              0
 11               Amacueca                  0          1              0
 12               Amatitán                  0          0              0
 ..                    ...                ...        ...            ...
 104               Zapopan                163          4              3
 105            Zapotiltic                  3          0              0
 106      Zapotlán del Rey                  0          0              0
 107    Zapotlán el Grande                 11          0              0
 108           Zapotlanejo                  6          0              0

     Empresas arrendadoras de automóviles Marinas turísticas  \
 8                                      0                  0
 9                                      0                  0
 10                                     0                  0
 11                                     0                  0
 12                                     0                  0
 ..                                   ...                ...
 104                                   19                  0
 105                                    0                  0
 106                                    0                  0
 107                                    0                  0
 108                                    0                  0

     Muelles de atraque Transportadoras turísticas especializadas   año
 8                    0                                         0  2017
 9                    0                                         0  2017
 10                   0                                         0  2017
 11                   0                                         0  2017
 12                   0                                         0  2017
 ..                 ...                                       ...   ...
 104                  0                                         6  2017
 105                  0                                         0  2017
 106                  0                                         0  2017
 107                  0                                         1  2017
 108                  0                                         0  2017

 [101 rows x 9 columns],
                 municipio Agencias de viajes Balnearios Campos de golf  \
 8                  Acatic                  1          0              0
 9       Acatlán de Juárez                  1          1              0
 10   Ahualulco de Mercado                  2          0              0
 11               Amacueca                  0          1              0
 12               Amatitán                  0          0              0
 ..                    ...                ...        ...            ...
 104               Zapopan                163          4              3
 105            Zapotiltic                  3          0              0
 106      Zapotlán del Rey                  0          0              0
 107    Zapotlán el Grande                 11          0              0
 108           Zapotlanejo                  6          0              0

     Empresas arrendadoras de automóviles Marinas turísticas  \
 8                                      0                  0
 9                                      0                  0
 10                                     0                  0
 11                                     0                  0
 12                                     0                  0
 ..                                   ...                ...
 104                                   19                  0
 105                                    0                  0
 106                                    0                  0
 107                                    0                  0
 108                                    0                  0

     Muelles de atraque Transportadoras turísticas especializadas   año
 8                    0                                         0  2018
 9                    0                                         0  2018
 10                   0                                         0  2018
 11                   0                                         0  2018
 12                   0                                         0  2018
 ..                 ...                                       ...   ...
 104                  0                                         6  2018
 105                  0                                         0  2018
 106                  0                                         0  2018
 107                  0                                         1  2018
 108                  0                                         0  2018

 [101 rows x 9 columns],
                municipio Agencias de viajes Balnearios Campos de golf  \
 5              Municipio                554         82             96
 7                 Acatic                  1          1              0
 8      Acatlán de Juárez                  0          1              0
 9   Ahualulco de Mercado                  1          1              0
 10              Amacueca                  0          1              0
 ..                   ...                ...        ...            ...
 73               Zapopan                128         12             18
 74            Zapotiltic                  2          0              0
 75     Zapotlán del Rey                   0          0              0
 76    Zapotlán el Grande                  9          0              0
 77           Zapotlanejo                  5          0              0

    Empresas arrendadoras de automóviles Marinas turísticas Muelles de atraque  \
 5                                    11                  2                 53
 7                                     0                  0                  0
 8                                     0                  0                  0
 9                                     0                  0                  0
 10                                    0                  0                  0
 ..                                  ...                ...                ...
 73                                    7                  0                 18
 74                                    0                  0                  0
 75                                    0                  0                  0
 76                                    0                  0                  0
 77                                    0                  0                  0

    Transportadoras turísticas especializadas   año
 5                                        318  2019
 7                                          0  2019
 8                                          0  2019
 9                                          1  2019
 10                                         0  2019
 ..                                       ...   ...
 73                                         1  2019
 74                                         0  2019
 75                                         0  2019
 76                                         8  2019
 77                                         0  2019

 [72 rows x 9 columns],
                municipio         Agencias de viajes  \
 4              Municipio  [Centros de convenciones]
 6                 ESTADO                          2
 7                 Acatic                          0
 8      Acatlán de Juárez                          0
 9   Ahualulco de Mercado                          0
 ..                   ...                        ...
 82               Zapopan                          0
 83            Zapotiltic                          0
 84    Zapotlan  del  Rey                          0
 85    Zapotlán el Grande                          0
 86           Zapotlanejo                          0

                             Balnearios        Campos de golf  \
 4   [Centros de\nenseñanza\nturística]  [Guías de\nturistas]
 6                                   56                   422
 7                                    0                     2
 8                                    0                     0
 9                                    0                     1
 ..                                 ...                   ...
 82                                  16                    32
 83                                   0                     1
 84                                   0                     1
 85                                   0                     8
 86                                   0                     0

                  Empresas arrendadoras de automóviles  \
 4   Agencias de\n viajes y servicios\nde reservaci...
 6                                                 468
 7                                                   1
 8                                                   0
 9                                                   1
 ..                                                ...
 82                                                 93
 83                                                  3
 84                                                  0
 85                                                  9
 86                                                  5

                   Marinas turísticas                    Muelles de atraque  \
 4   Parques\nacuáticos y\nbalnearios  Alquiler de\nautomóviles\nsin chofer
 6                                 97                                    91
 7                                  1                                     0
 8                                  1                                     0
 9                                  1                                     0

In [112]:
# guardar todos los sets en su direccion correspondiente, en la carpeta de informacion limpia

final_dir = os.path.join(basedir,r'data\Servicios_Turisticos')
final_dir
for i,df in enumerate(cleaned_sets):
    df.to_csv(f'{final_dir}_{2013+i}.csv')

La limpieza hecha con las anteriores funciones no es al 100% homogenea, pero si conserva toda la informacion relevante y facilita por mucho elproceso, en efecto lo unico que falta por hacer despues de este proceso es  concatenar los dataframes y quitar las filas que contienen los totales.