In [1]:
import pandas as pd

df_2013 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2013.csv')
df_2014 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2014.csv')
df_2015 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2015.csv')
df_2016 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2016.csv')
df_2017 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2017.csv')
df_2018 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2018.csv')
df_2019 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2019.csv')
df_2020 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2020.csv')

<>:3: SyntaxWarning: invalid escape sequence '\C'
<>:4: SyntaxWarning: invalid escape sequence '\C'
<>:5: SyntaxWarning: invalid escape sequence '\C'
<>:6: SyntaxWarning: invalid escape sequence '\C'
<>:7: SyntaxWarning: invalid escape sequence '\C'
<>:8: SyntaxWarning: invalid escape sequence '\C'
<>:9: SyntaxWarning: invalid escape sequence '\C'
<>:10: SyntaxWarning: invalid escape sequence '\C'
<>:3: SyntaxWarning: invalid escape sequence '\C'
<>:4: SyntaxWarning: invalid escape sequence '\C'
<>:5: SyntaxWarning: invalid escape sequence '\C'
<>:6: SyntaxWarning: invalid escape sequence '\C'
<>:7: SyntaxWarning: invalid escape sequence '\C'
<>:8: SyntaxWarning: invalid escape sequence '\C'
<>:9: SyntaxWarning: invalid escape sequence '\C'
<>:10: SyntaxWarning: invalid escape sequence '\C'
C:\Users\fofoy\AppData\Local\Temp\ipykernel_26168\3248857501.py:3: SyntaxWarning: invalid escape sequence '\C'
  df_2013 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2013.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_26168\3248857501.py:4: SyntaxWarning: invalid escape sequence '\C'
  df_2014 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2014.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_26168\3248857501.py:5: SyntaxWarning: invalid escape sequence '\C'
  df_2015 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2015.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_26168\3248857501.py:6: SyntaxWarning: invalid escape sequence '\C'
  df_2016 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2016.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_26168\3248857501.py:7: SyntaxWarning: invalid escape sequence '\C'
  df_2017 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2017.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_26168\3248857501.py:8: SyntaxWarning: invalid escape sequence '\C'
  df_2018 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2018.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_26168\3248857501.py:9: SyntaxWarning: invalid escape sequence '\C'
  df_2019 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2019.csv')
C:\Users\fofoy\AppData\Local\Temp\ipykernel_26168\3248857501.py:10: SyntaxWarning: invalid escape sequence '\C'
  df_2020 = pd.read_csv('data\Cuartos_Hoteles\Cuartos_Hoteles_2020.csv')

In [2]:
df = pd.concat([df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020])
df

,Unnamed: 0,municipio,total,5 estrellas,4 estrellas,3 estrellas,2 estrellas,1 estrellas,sin categoria,año
0,11,Estado,65677,11769,13227,9866,3771,5987,21057,2013
1,12,I Norte,503,0,83,60,9,140,211,2013
2,13,Bolaños,28,0,0,0,0,8,20,2013
3,14,Chimaltitán,8,0,0,0,0,0,8,2013
4,15,Colotlán,138,0,62,0,0,76,0,2013
...,...,...,...,...,...,...,...,...,...,...
111,120,ZAPOTILTIC,54,0,18,0,0,0,36,2020
112,121,ZAPOTITLAN DE VADILLO,20,0,0,0,0,0,20,2020
113,122,ZAPOTLAN DEL REY,28,13,0,15,0,0,0,2020
114,123,ZAPOTLAN EL GRANDE,537,0,137,239,60,101,0,2020
115,124,ZAPOTLANEJO,211,0,18,176,17,0,N/D,2020

In [3]:
df = df.drop(columns=["Unnamed: 0"])

In [4]:
df['municipio'] = df['municipio'].str.upper()

In [5]:
df = df[df['municipio'] != 'ESTADO']
df = df[df['municipio'] != 'I NORTE']
df = df[df['municipio'] != 'II ALTOS NORTE']
df = df[df['municipio'] != 'III ALTOS SUR']
df = df[df['municipio'] != 'IV CIÉNEGA']
df = df[df['municipio'] != 'V SURESTE']
df = df[df['municipio'] != 'VI SUR']
df = df[df['municipio'] != 'VII SIERRA DE AMULA']
df = df[df['municipio'] != 'VIII COSTA SUR']
df = df[df['municipio'] != 'IX COSTA NORTE']
df = df[df['municipio'] != 'X SIERRA OCCIDENTAL']
df = df[df['municipio'] != 'XI VALLES']
df = df[df['municipio'] != 'XII CENTRO']

In [6]:
df

,municipio,total,5 estrellas,4 estrellas,3 estrellas,2 estrellas,1 estrellas,sin categoria,año
2,BOLAÑOS,28,0,0,0,0,8,20,2013
3,CHIMALTITÁN,8,0,0,0,0,0,8,2013
4,COLOTLÁN,138,0,62,0,0,76,0,2013
5,HUEJÚCAR,41,0,0,0,0,41,0,2013
6,HUEJUQUILLA EL ALTO,77,0,0,60,0,0,17,2013
...,...,...,...,...,...,...,...,...,...
111,ZAPOTILTIC,54,0,18,0,0,0,36,2020
112,ZAPOTITLAN DE VADILLO,20,0,0,0,0,0,20,2020
113,ZAPOTLAN DEL REY,28,13,0,15,0,0,0,2020
114,ZAPOTLAN EL GRANDE,537,0,137,239,60,101,0,2020
115,ZAPOTLANEJO,211,0,18,176,17,0,N/D,2020

In [7]:
df.to_csv("data\Hoteles\Cuartos_Hoteles_Historico.csv", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\H'
<>:1: SyntaxWarning: invalid escape sequence '\H'
C:\Users\fofoy\AppData\Local\Temp\ipykernel_26168\2824293679.py:1: SyntaxWarning: invalid escape sequence '\H'
  df.to_csv("data\Hoteles\Cuartos_Hoteles_Historico.csv", index=False)